{% set recentNewsId = module.popular_content %}
{% set recent_posts = blog_recent_posts(recent_posts, 3) %}

{% set press_id =  module.recent_new  %}
{% set press_recent_posts = blog_popular_posts(press_id,3) %}

{% set recent_posts1 = module.popular_content %}
{% set recent_posts2 = module.popular_content2 %}
{% set recent_posts3 = module.popular_content3 %}
{% set a1 = blog_recent_posts(recent_posts1, 1) %}
{% set a2 = blog_recent_posts(recent_posts2, 1) %}
{% set a3 = blog_recent_posts(recent_posts3, 1) %}
{% set a = (a1 + a2 + a3) %}

{% set popularContentId1 = module.popular_content  %}
{% set popularContentId2 = module.popular_content2  %}
{% set popularContentId3 = module.popular_content3  %}
{% set popular_posts1 = blog_popular_posts(popularContentId1, 1) %}
{% set popular_posts2 = blog_popular_posts(popularContentId2, 1) %}
{% set popular_posts3 = blog_popular_posts(popularContentId3, 1) %}
{% set popular_arr = (popular_posts1 + popular_posts2 + popular_posts3) %}

{% set media_id = module.media_blog_field  %}
{% set media_recent_posts = blog_recent_posts(media_id, 6) %}
{% set media_popular_posts = blog_popular_posts(media_id, 6) %}


<section class="mp-newsList">
	<div class="inner">
		<div class="col-l">
			<div class="newsWrap">
				<h5>최신 뉴스 모아보기5</h5>
				<ul>
					{% for post in press_recent_posts %}
					  <li data-data='{{post}}'><a href="{{post.absolute_url}}">{{post.name}}</a></li>
					{% endfor%}
				</ul>
			</div>
			<div class="newsWrap">
				<h5>인기 글 모아보기</h5>
				<ul>
					{% for post in popular_arr %}
					  <li><a href="{{post.absolute_url}}">{{post.name}}</a></li>
					{% endfor%}
				</ul>
			</div>
		</div>
		<div class="col-r">
			<h5>최신 미디어 라이브러리</h5>
			<ul>
				{% for post in media_popular_posts %}
					<li>
						<a href="{{post.absolute_url}}">
							<div class="imgWrap"><img class="lazyload" src="{{post.featured_image ? post.featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/contentImage/thumb_mp_news_01O2x.png")}}" alt="이미지"></div>
							{% for topic in post.topic_list%}
							{% if loop.index == 2%}
							<span>{{topic}}</span>
							{% endif %}
							{% endfor %}
						</a>
					</li>
			  {% endfor %}	          
			</ul>
		</div>
	</div>
</section>