{% set sustainabilityBlogId = module.sustainability_blog  %}
{% set sustainability_recent_posts = blog_recent_posts(sustainabilityBlogId, 15) %}
{% set sustainability_popular_posts = blog_popular_posts(sustainabilityBlogId, 15) %}



<!-- HOME CONTENTS FULL -->
<section class="list-contentsWrap list-sustainability">
	<div class="list-conWrap-top">
		<div class="inner">
			<div class="inner2">
				<!-- 0911 UPDATE -->
				<ul>
					<li><a>추천 글</a></li>
					<li><a>기술</a></li>
					<li><a>사람&문화</a></li>
					<li class="active"><a>지속가능경영</a></li>
				</ul>
				<div class="ckWrap">
					<label for="ck-recent"><input class='ck-recent' id="ck-recent" type="checkbox"><i></i>최신</label>
					<label for="ck-popularity"><input class='ck-popularity' id="ck-popularity" type="checkbox"><i></i>인기</label>
				</div>
			</div>
		</div>
	</div>

<!-- 	최신글 -->
	<div class="conWrap-body conWrap-body-recent">
		<div class="inner2">
			<div class="flexWrap-2-1">
				<div class="col-6">

					{% for post in sustainability_recent_posts %}
					{% if loop.index == 1 %}
						<div class="card card-big">
							<div class="imgWrap">
								<a href="#">
									<img class="lazyload" src="{{post.featured_image ? post.featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/defaultImage/tnoimg.png")}}" alt="이미지">
								</a>
							</div>
							<div class="card-bottom">
								<div class="tagWrap">
									<a href="">
										<div class="cate-tag cate-tag-s">
											지속가능경영
										</div>
									</a>
								</div>
								<a href="{{post.absolute_url}}">
									<h1>{{post.name}}</h1>
									<div class='removeTech'>{{post.post_body}}</div>
									<p class='showTech'></p>
								</a>
							</div>
						</div>
					{% endif %}
					{% endfor %}

				</div>

				<ul class="col-6">
					{% for post in sustainability_recent_posts %}
					{% if loop.index > 1 && loop.index < 6 %}
					<li>
						<div class="card">
							<div class="imgWrap">
								<a href="#">    
									<img class="lazyload" src="{{post.featured_image ? post.featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/defaultImage/tnoimg.png")}}" alt="이미지">
								</a>
							</div>
							<div class="tagWrap">
								<a href="#">
									<div class="cate-tag cate-tag-s">지속가능경영</div>
								</a>
							</div>
							<a href="#">
								<h2>
									{{post.name}}
								</h2>
							</a>
						</div>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>

			<ul class="flexWrap-4">
				{% for post in sustainability_recent_posts %}
				{% if loop.index > 5 && loop.index < 10 %}
				<li>
					<div class="card">
						<div class="imgWrap">
							<a href="#">
								<img class="lazyload" src="{{post.featured_image ? post.featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/defaultImage/tnoimg.png")}}" alt="이미지">
							</a>
						</div>
						<div class="tagWrap">
							<a href="#">
								<div class="cate-tag cate-tag-s">지속가능경영</div>
							</a>
						</div>
						<a href="#">
							<h2>{{post.name}}</h2>
						</a>
					</div>
				</li>
				{% endif %}
				{% endfor %}
			</ul>

			<!-- BBN-Module Area 시작 -->
			<!-- BBN MODULE -->
			<div class="bbn_module">
				<div class="conWrap">
					<em>ESG</em>
					<h1>체계적인 기후 대응으로<br>
						지구의 건강한 내일을 만듭니다</h1>
					<a href="#">
						바로가기
						<i>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
								<path d="m14.132 5.52 6.39 6.39-6.57 6.57-.71-.71 5.402-5.403H3.5v-1.01h15.008L13.402 6.25l.73-.73z" fill="#fff" fill-rule="evenodd" opacity="1"/>
							</svg>
						</i>
					</a>
				</div>
			</div>
			<!-- BBN-Module Area 끝 -->

			<ul class="flexWrap-4">
				{% for post in sustainability_recent_posts %}
				{% if loop.index > 9 && loop.index < 14 %}
				<li>
					<div class="card">
						<div class="imgWrap">
							<img class="lazyload" src="{{post.featured_image ? post.featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/defaultImage/tnoimg.png")}}" alt="이미지">
						</div>
						<div class="tagWrap">
							<a href="#">
								<div class="cate-tag cate-tag-s">지속가능경영</div>
							</a>
						</div>
						<a href="#">
							<h2>{{post.name}}</h2>
						</a>
					</div>
				</li>
				{% endif %}
				{% endfor %}
			</ul>


			<div class="flexWrap-2-1">
				<div class="col-6">
					<!-- purple -->
					<!-- green -->
					<!-- blue -->
					<div class="list-banner-module purple">
						<h1>
							첨단기술의 중심,<br>
							SK하이닉스에서 당신이 꿈꾸는<br> 
							미래를 펼쳐보세요
						</h1>
						<a href="#" class="banner-more">
							채용정보 더보기
							<i>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
									<g fill="#fff" fill-rule="evenodd" fill-opacity="1">
										<path d="M14 14H2.08V2.08h5.29v1.199H3.279v9.522h9.522V8.71H14zM14 6.7h-1.199V3.28H9.38v-1.2H14z"/>
										<path d="m6.454 10.474-.848-.848 7.37-7.37.848.848z"/>
									</g>
								</svg>
							</i>
						</a>
					</div>

				</div>
				<ul class="col-6">
					{% for post in sustainability_recent_posts %}
  				{% if loop.index > 13 && loop.index < 16 %}
					<li>
						<div class="card">
							<div class="imgWrap">
								<img class="lazyload" src="{{post.featured_image ? post.featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/defaultImage/tnoimg.png")}}" alt="이미지">
							</div>
							<div class="tagWrap">
								<a href="#">
									<div class="cate-tag cate-tag-s">지속가능경영</div>
								</a>
							</div>
							<a href="#">
								<h2>{{post.name}}</h2>
							</a>
						</div>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>

			<a href="/technology" class="card-more">
				글 더보기
				<i></i>
			</a>
		</div>
	</div>
	<!-- 	최신글 -->
	
	<!-- 	인기글 -->
	<div class="conWrap-body conWrap-body-popularity">
		<div class="inner2">
			<div class="flexWrap-2-1">
				<div class="col-6">

					{% for post in sustainability_popular_posts %}
					{% if loop.index == 1 %}
						<div class="card card-big">
							<div class="imgWrap">
								<a href="#">
									<img class="lazyload" src="{{post.featured_image ? post.featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/defaultImage/tnoimg.png")}}" alt="이미지">
								</a>
							</div>
							<div class="card-bottom">
								<div class="tagWrap">
									<a href="">
										<div class="cate-tag cate-tag-s">
											지속가능경영
										</div>
									</a>
								</div>
								<a href="{{post.absolute_url}}">
									<h1>{{post.name}}</h1>
									<div class='removeTech'>{{post.post_body}}</div>
									<p class='showTech'></p>
								</a>
							</div>
						</div>
					{% endif %}
					{% endfor %}

				</div>

				<ul class="col-6">
					{% for post in sustainability_popular_posts %}
					{% if loop.index > 1 && loop.index < 6 %}
					<li>
						<div class="card">
							<div class="imgWrap">
								<a href="#">    
									<img class="lazyload" src="{{post.featured_image ? post.featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/defaultImage/tnoimg.png")}}" alt="이미지">
								</a>
							</div>
							<div class="tagWrap">
								<a href="#">
									<div class="cate-tag cate-tag-s">지속가능경영</div>
								</a>
							</div>
							<a href="#">
								<h2>
									{{post.name}}
								</h2>
							</a>
						</div>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>

			<ul class="flexWrap-4">
				{% for post in sustainability_popular_posts %}
				{% if loop.index > 5 && loop.index < 10 %}
				<li>
					<div class="card">
						<div class="imgWrap">
							<a href="#">
								<img class="lazyload" src="{{post.featured_image ? post.featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/defaultImage/tnoimg.png")}}" alt="이미지">
							</a>
						</div>
						<div class="tagWrap">
							<a href="#">
								<div class="cate-tag cate-tag-s">지속가능경영</div>
							</a>
						</div>
						<a href="#">
							<h2>{{post.name}}</h2>
						</a>
					</div>
				</li>
				{% endif %}
				{% endfor %}
			</ul>

			<!-- BBN-Module Area 시작 -->
			<!-- BBN MODULE -->
			<div class="bbn_module">
				<div class="conWrap">
					<em>ESG</em>
					<h1>체계적인 기후 대응으로<br>
						지구의 건강한 내일을 만듭니다</h1>
					<a href="#">
						바로가기
						<i>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
								<path d="m14.132 5.52 6.39 6.39-6.57 6.57-.71-.71 5.402-5.403H3.5v-1.01h15.008L13.402 6.25l.73-.73z" fill="#fff" fill-rule="evenodd" opacity="1"/>
							</svg>
						</i>
					</a>
				</div>
			</div>
			<!-- BBN-Module Area 끝 -->

			<ul class="flexWrap-4">
				{% for post in sustainability_popular_posts %}
				{% if loop.index > 9 && loop.index < 14 %}
				<li>
					<div class="card">
						<div class="imgWrap">
							<img class="lazyload" src="{{post.featured_image ? post.featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/defaultImage/tnoimg.png")}}" alt="이미지">
						</div>
						<div class="tagWrap">
							<a href="#">
								<div class="cate-tag cate-tag-s">지속가능경영</div>
							</a>
						</div>
						<a href="#">
							<h2>{{post.name}}</h2>
						</a>
					</div>
				</li>
				{% endif %}
				{% endfor %}
			</ul>


			<div class="flexWrap-2-1">
				<div class="col-6">
					<!-- purple -->
					<!-- green -->
					<!-- blue -->
					<div class="list-banner-module purple">
						<h1>
							첨단기술의 중심,<br>
							SK하이닉스에서 당신이 꿈꾸는<br> 
							미래를 펼쳐보세요
						</h1>
						<a href="#" class="banner-more">
							채용정보 더보기
							<i>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
									<g fill="#fff" fill-rule="evenodd" fill-opacity="1">
										<path d="M14 14H2.08V2.08h5.29v1.199H3.279v9.522h9.522V8.71H14zM14 6.7h-1.199V3.28H9.38v-1.2H14z"/>
										<path d="m6.454 10.474-.848-.848 7.37-7.37.848.848z"/>
									</g>
								</svg>
							</i>
						</a>
					</div>

				</div>
				<ul class="col-6">
					{% for post in sustainability_popular_posts %}
  				{% if loop.index > 13 && loop.index < 16 %}
					<li>
						<div class="card">
							<div class="imgWrap">
								<img class="lazyload" src="{{post.featured_image ? post.featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/defaultImage/tnoimg.png")}}" alt="이미지">
							</div>
							<div class="tagWrap">
								<a href="#">
									<div class="cate-tag cate-tag-s">지속가능경영</div>
								</a>
							</div>
							<a href="#">
								<h2>{{post.name}}</h2>
							</a>
						</div>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>

			<a href="/technology" class="card-more">
				글 더보기
				<i></i>
			</a>
		</div>
	</div>
	
</section>