@media screen and (max-width:1024px){
    /* EBOKE 1012 UPDATE  */
    .company_top .videoWrap video {
        width:auto;
    }
  
    .company_brand .company_feature ul li {
        padding-left: 23px;
        padding-right: 23px;
    }
    .company_brand .company_feature h5,
    .company_brand .company_feature span,
    .company_brand .company_feature p {
        text-align: center;
    }
    .company_global ul.companyCount {
        max-width: 476px;
    }
    .company_global ul.companyCount li {
        /* EBOKE UPDATE  */
        flex-basis: auto;
        padding: 22px 10px;
        width:30%;
        margin-top:20px;
    }
    /* EBOKE UPDATE  */
    .company_global ul.companyCount li:nth-child(2n) {
        margin-right:0;
    }
    .company_global img {
        max-width: 734px;
    }
    .company_business .f-performance {
        height: 410px;
    }
    .company_business .conWrap {
        /* EBOKE UPDATE  */
        /* gap: 30px 20px; */
        margin-bottom: 80px;
    }
    .company_business .conWrap li {
        margin-right:20px;
    }

}
@media screen and (max-width:1023px){
    .company_dbl .conBody ul.dbl-card {
        flex-wrap: wrap;
    }
    .company_dbl .conBody ul.dbl-card li {
        width: 50%;
    }
    .company_dbl .conBody ul.dbl-card li:nth-child(3),
    .company_dbl .conBody ul.dbl-card li:nth-child(4){
        margin-top:50px;
    }
    .company_dbl .conBody ul.dbl-card li .imgBx {
        margin: 0 auto;
    }
    .company_dbl .conBody .itemWrap .contWrap {
        max-width: 450px;
    }
    .company_dbl .conBody .itemWrap [class*="dbl-card-"] {
        flex-wrap: wrap;
    }
    .company_dbl .conBody .itemWrap .dbl-card-v li:nth-child(1) p,
    .company_dbl .conBody .itemWrap .dbl-card-v li:nth-child(2) p {
        margin-bottom:20px;
    }
    .company_dbl .conBody .itemWrap .dbl-card-h li:first-child {
        margin-bottom: 10px;
    }
}
@media screen and (max-width:768px){
    .company_brand .company_feature {
        height: auto;
        padding: 60px 0;
    }
    .company_brand .company_feature ul {
        flex-direction: column;
    }
    .company_brand .company_feature ul li {
        width: calc(100vw - 48px);
        max-width: 556px;
        /*  EBOKE 1012 UPDATE  */
        margin:0 auto;
        flex:1 0 auto;
    }
    .company_brand .company_feature ul li + li {
        border-left: unset;
        border-top: dashed 1px rgba(255, 255, 255, 0.5);
        padding-top: 49px;
        margin-top: 50px;
    }
    .company_brand .company_feature .conWrap {
        max-width: 300px;
        margin: 0 auto;
    }
    .company_brand .company_feature span {
        height: 67px;
    }
    .company_brand .company_feature p {
        font-size: 20px;
        line-height: 2;
    }
    .company_business .conWrap {
        flex-direction: column;
        margin-bottom: 30px;
        /* EBOKE 1012 UPDATE  */
        align-items:center;
    }
    .company_business .conWrap li {
        margin: 0 auto !important;
       /* EBOKE UPDATE  */
        margin-bottom: 30px !important;
        max-width: 560px;
        /* EBOKE 1012 UPDATE  */
        flex:1 0 auto;
    }
    .company_dbl .conBody .itemWrap .dbl-card-v li:nth-child(2n) {
        margin-left:10px;
    }
}

@media screen and (max-width:767px){
    .company_top .copyWrap h1 {
        font-size: 28px;
    }
    .company_top .copyWrap h2 {
        font-size: 16px;
    }
    .company_brand {
        margin-top: 0;
    }
    .company_brand .inner {
        width: unset;
        padding-top: 35px;
    }
    .company_brand p {
        padding: 0;
    }
    .company_brand .logo-skh-en {
        width:262px;
    }
    .company_global ul.companyCount {
        /* gap: 24px 20px; */
    }
    .company_global {
        height: 807px;
    }
    .company_global img {
        width: 430px;
    }
    .company_global ul.companyCount {
        bottom: 80px;
    }
    .company_global .mapWrap {
        top: 246px;
    }
    .company_business .textWrap {
        min-height: 250px;
    }

    .company_dbl {
        padding-top: 42px;
    }
    .company_dbl .conHead p {
        margin-bottom: 53px;
    }
    .company_dbl .conBody {
        width: 100vw;
        margin-left: -24px;
        border-radius: 0;
    }
    .company_dbl .conBody h2 {
        font-size: 26px;
        margin-bottom: 42px;
    }
    .company_dbl .conBody ul.dbl-card li .imgBx {
        width: 162px;
        height: 162px;
    }
    .company_dbl .conBody ul.dbl-card li .imgBx img {
        width: 54px;
    }
    .company_dbl .conBody ul.dbl-card li span {
        font-size: 18px;
        max-width: 90px;
    }
    /* EBOKE UPDATE */
    .company_dbl .conBody ul.dbl-card li:nth-child(3),
    .company_dbl .conBody ul.dbl-card li:nth-child(4){
        margin-top:30px;
    }
    .company_dbl .conBody .itemWrap {
        padding: 0 24px;
    }
    .company_dbl .conBody .itemWrap .dbl-card-v {
        justify-content: center;
    }
    .company_dbl .conBody .itemWrap .dbl-card-h li .imgBx {
        /* EBOKE UPDATE */
        padding: 0 30px 0 25px;
        justify-content: flex-start;
    }
    .company_dbl .conBottom .tableWrap {
        margin-right: -24px;
    }
    .company_dbl .conBottom .silver-desc {
        font-size: 12px;
    }
    .company_dbl .conBottom a.p-moreBtn.dark {
        margin-top: 80px;
    }
}
@media screen and (max-width:425px){
    .company_business h1 {
        margin-bottom: 90px;
    }
    .company_business .desWrap {
        flex-direction: column;
        margin-bottom: 60px;
    }
    .company_business .desWrap p {
        /* EBOKE UPDATE */
        margin-right:0;
        margin-bottom:33px;
    }
    .company_business .f-performance {
        height: 340px;
    }
    .company_business .f-performance table th {
        font-size: 14px;
    }
    .company_business .f-performance table td {
        font-size: 16px;
        height: 90px;
    }
    .company_dbl .conBody .itemWrap .dbl-card-v li:nth-child(2n) {
        margin-left:unset;
    }
    /* EBOKE UPDATE */
    .company_dbl .conBody .itemWrap .dbl-card-h li .imgBx img {
        margin-right: 16px;
    }
}

