<!-- SUB-HEADER -->
<section class="container sub-header">
  <article id="content">
    <div class="inner2">
      <div class="hgroup">
        <div class="clear-fix">
          <nav class="breadcrumb">
            <a href='/library'><span>미디어라이브러리</span></a>
          </nav>
        </div>

        <h1>{{content.name}}</h1>

        <div class="tagbox">
          <ul>
            <li>
              {% for topic in content.topic_list %}
              {% if topic != '' %}
              <a style="cursor:pointer;" class='topicText topicText{{loop.index}}' rel='tag'>{{topic.name}}</a>
              {% else %}
              {% endif%}
              {% endfor %}
            </li>
          </ul>
        </div>                        
      </div>
    </div>
    <div class="inner">
      <div class="inner2 hgroup-bottom">
        <div class="post-meta">
          <span class="date">{{content.publish_date | datetimeformat ('%Y - %m - %d')}}</span>
          <!--                     <span class="author"><a href="">충북반도체고등학교 진종문 교사</a></span> -->
        </div>

        <hr class="d-mobile">

        <aside class="share-area">
          <div class="share-list">
            <div class="Rectangle-Copy">
              <ul class="sns">
                <li class="snsin"><a href="javascript:snsShare('twitter')" title="Twitter">Twitter</a></li>
                <li class="snsmail"><a href="mailto:" title="Naver">Naver</a></li>
                <li class="snsclose"><a title="More">close</a></li>
              </ul>
            </div>
            <ul id="sns2" class="sns">
              <li class="url"><a title="url">Url</a></li>
              <li class="fb"><a href="javascript:snsShare('facebook')" title="Facebook">Facebook</a></li>
              <li class="tw"><a href="javascript:snsShare('twitter')" title="Twitter">Twitter</a></li>
              <li class="nv"><a href="#" title="Naver">Naver</a></li>
              <li class="more"><a title="More">More</a></li>
            </ul>
          </div>
        </aside>
      </div>
      <hr>
    </div>
  </article>
</section>

<script type='text/babel'>

$(".more a").click(function(){
  $(".Rectangle-Copy").show();
});

$(".snsclose a").click(function(){
  $(".Rectangle-Copy").hide();
});

// 태그 클릭
$('.topicText').click((e) => {
  $('.tagbox .topicText').attr('href', `/library/tag/${$(e.target).text()}/page/1?type=tag&text=${$(e.target).text()}`)
})


// url주소 복사
$('ul#sns2 .url').click((e)=>{
  let url = '';
  let textarea = document.createElement("textarea");
  document.body.appendChild(textarea);
  url = window.document.location.href;
  textarea.value = url;
  textarea.select();
  document.execCommand("copy");
  document.body.removeChild(textarea);
  alert("url이 복사되었습니다.(Ctrl+c를 눌러 주소창에 붙여넣어 주세요)")
});


const tagLength = $('.tagbox ul li').children('a.topicText').length;
	console.log(tagLength,'!!!')
	for(let i = 1; i <= tagLength; i++) {
		const text = $(`.topicText${i}`).text()
		if(text.includes('카테고리-')) {
			$(`.topicText${i}`).remove()
		}
	}
</script>