
.section-home { background-color: #f4f2f1; } 

.container { max-width: 1334px; max-width: 1920px; } 

/* NAV */
.new-nav-tabs { background-color: #ffffff; border-bottom: 1px solid #627653; position: relative; /* margin-bottom: 18px; */ } 

.nav-link { font-size: 12px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; text-align: center; color: #878787; padding: 18px 20px; border: 0; } 
.nav-link:hover, .nav-link:focus { color: unset; } 
.new-nav-tabs .nav-link:hover, .new-nav-tabs .nav-link:focus { border-color: transparent; isolation: isolate; } 
.new-nav-tabs .nav-link.active, .new-nav-tabs .nav-item.show .nav-link { font-weight: bold; color: #495057; background-color: #fff; border-color: transparent; border: 0; border-bottom: 3px solid #2e7000; } 

.new-nav-tabs .nav-setting { display: none; width: 30px; height: 30px; background: url(../images/btn-setting-command.svg) center/24px no-repeat; position: absolute; right: 51px; top: 10px; text-indent: -9999px; } 

.nav-more-btn { text-indent: -9999px; display: flex; justify-content: center; align-items: center; width: 20px; height: 20px; position: absolute; top: 16px; right: 8px; } 
.nav-more-btn span { display: block; width: 3px; height: 3px; background-color: #484644; border-radius: 50%; } 
.nav-more-btn span + span { margin-left: 3px; } 


/* CONTENTS */
.home-card { min-width: 335px; flex: 1 0 335px; } 
.home-card-right { max-width: calc(100% - 335px); flex: 1 0 auto; padding-left: 0; } 
.home-card .card { border: 0; border-radius: 4px; background-color: #ffffff; } 
.home-card .card + .card { margin-top: 11px; } 
.home-card .card-body { padding: 31px 20px 15px; } 
.card-name,
.home-card .card .card-name { font-size: 12px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1; letter-spacing: -0.4px; color: rgba(108, 108, 108, 0.89); } 
.home-card .card .card-name { margin-bottom: 15px; } 
.home-card .card:nth-child(1) h5 { font-size: 22px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.34px; color: rgba(48, 48, 48, 0.7); } 
.home-card .card .table.homeCardTable { margin-bottom: 0; } 
.home-card .card .table.homeCardTable th,
.home-card .card .table.homeCardTable td { padding: 7px 0; border-bottom-width: 0; font-size: 12px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; } 
.home-card .card .table.homeCardTable th { color: #9a9a9a; } 
.home-card .card .table.homeCardTable td { text-align: right; color: #666666; padding-left: 22px; } 
.home-card .card:nth-child(1) td { opacity: 0.25; } 
.home-card .card:nth-child(1) td.on { opacity: 1; } 

.home-card .card:nth-child(1) .btn { margin-top: 17px; font-size: 14px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; text-align: center; color: #ffffff; padding: 9px; } 
.home-card .card:nth-child(1) .btn.btn-workOn { background-color: #589098; } 
.home-card .card:nth-child(1) .btn.btn-workOff { background-color: #739858; } 
.home-card .card:nth-child(1) .btn.disabled { opacity: 1; background-color: #cdcdcd; } 
.home-card .card:nth-child(2) .card-body { padding: 16px 2rem 17px; } 
.home-card .card:nth-child(2) .card-body .conWrap-right { max-width: 171px; } 
.home-card .card:nth-child(2) span { font-size: 12px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: rgba(108, 108, 108, 0.89); margin-bottom: 20px; display: block; } 
.home-card .card:nth-child(2) span.card-name { margin-top: 14px; } 
.home-card .card:nth-child(2) h5 { font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: rgba(50, 50, 50, 0.7); margin-bottom: 4px; } 
.home-card .card:nth-child(2) span:nth-of-type(2) { font-size: 14px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #a1a1a1; margin-bottom: 0; } 

.home-card .card:nth-child(2) .btn { width: 53px; font-size: 10px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.33px; color: #9d9d9d; padding: 6px; border-radius: 4px; background-color: #e5e9e2; margin-bottom: 8px; } 
.home-card .card:nth-child(2) .tableBx { padding-top: 7px; padding-bottom: 7px; } 
.home-card .card:nth-child(2) .tableBx + .tableBx { border-top: 1px solid #9797972e; } 


.home-card .card .progressBx { margin-top: 37px; } 
.home-card .card .progressBx h5 { font-size: 20px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1; letter-spacing: -0.5px; color: #666666; } 
.home-card .card .progressBx .progress { border-radius: 10px; height: 10px; overflow: visible; position: relative; background-color: #e7e7e7; } 
.home-card .card .progressBx .progress-bar { background-color: #2e7000; position: relative; overflow: visible; z-index: 2; border-radius: 18px; } 
.home-card .card .progressBx .progress-bar::after { content: ''; position: absolute; right: -9px; top: -4px; display: block; width: 18px; height: 18px; border: 2px solid #fff; border-radius: 18px; background-color: inherit; } 
.home-card .card .progressBx .progress-bar.progress-bar02 { background-color: #879d77; z-index: 1; } 
.home-card .card .progressBx .hour { font-size: 14px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #c5c5c5; position: absolute; right: 0; bottom: 16px; margin-bottom: 5px; } 
.home-card .card .progressBx .hour::after { content: ''; position: absolute; margin: 0 auto; bottom: -21px; display: block; width: 3px; height: 21px; background-color: #2e7000; left: 50%; transform: translateX(-50%); } 
.home-card .card .progressBx .hour.hour40 { right: 20%; } 
.home-card .card .progressBx .hour.hour50::after { background-color: transparent; } 


.home-card .card .remaining { font-size: 14px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1; letter-spacing: -0.4px; color: #9a9a9a; margin-top: 19px; margin-bottom: 30px; } 
.home-card .card:nth-child(3) .card-body { padding: 28px 2rem 39px; } 
.home-card .card:nth-child(3) ul.progressBottomInfo { margin: 0; } 
.home-card .card:nth-child(3) ul.progressBottomInfo li { font-size: 12px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1; letter-spacing: -0.4px; color: #666666; } 
.home-card .card:nth-child(3) ul.progressBottomInfo li + li { margin-top: 10px; } 
.home-card .card:nth-child(3) ul.progressBottomInfo li span { display: inline-flex; align-items: center; width: 85px; } 
.home-card .card:nth-child(3) ul.progressBottomInfo li span:first-child::before { content: ''; display: inline-block; width: 8px; height: 8px; background-color: #2e7000; border-radius: 50%; margin-right: 16px; } 


.card-work { padding: 10px; background-color: #fff; border-radius: 4px; border-left: 3px solid transparent; position: relative; } 
.card-work + .card-work { margin-top:9px; } 
/* 0729 삭제 */
.card-work.today { border-left:3px solid #2e7000; border-top-left-radius: 0; border-bottom-left-radius: 0; } 
/* .card-work-detail { position: absolute; display: none; } */
/* .card-work:hover .card-work-detail { display: block; top: calc(100% + 10px); left: 50%; box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.28); z-index: 1; } */
/* .card-work:nth-child(7):hover .card-work-detail,
.card-work:nth-child(8):hover .card-work-detail { top: unset; bottom: calc(100% + 10px) } */
.card-work-detail .conBody { padding: 10px 16px; background-color: #fff; border: 1px solid #2e7000; border-radius: 4px; position: relative; } 
/* .card-work-detail::after, */
/* .card-work-detail::before { content: ''; width: 14px; border: 10px solid transparent; border-bottom-color: #2e7000; position: absolute; top: -20px; left: 0; right: 0; margin: 0 auto; z-index: 2; } 
.card-work-detail::after { top:-19px; border-bottom-color: #fff; } */
/* .card-work:nth-child(7) .card-work-detail::after,
.card-work:nth-child(7) .card-work-detail::before { content: ''; width: 14px; border: 10px solid transparent; border-top-color: #2e7000; position: absolute; top: unset; bottom:-20px; left: 0; right: 0; margin: 0 auto; z-index: 2; } 
.card-work:nth-child(7) .card-work-detail::after { top:unset; bottom:-19px; border-top-color: #fff; } 
.card-work:nth-child(8) .card-work-detail::after,
.card-work:nth-child(8) .card-work-detail::before { content: ''; width: 14px; border: 10px solid transparent; border-top-color: #2e7000; position: absolute; top: unset; bottom:-20px; left: 0; right: 0; margin: 0 auto; z-index: 2; } 
.card-work:nth-child(8) .card-work-detail::after { top:unset; bottom:-19px; border-top-color: #fff; } */
/* .card-work-detail .table { margin-bottom: 9px; } */
.card-work-detail .table td { padding: 3px 0; font-size: 10px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.33px; color: #696969; border-bottom: 0; vertical-align: baseline; } 
.card-work-detail .table td:first-child { font-size: 10px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.33px; color: #c5c5c5; } 
.card-work-detail .conWrap-bottom { border-top: 1px solid #979797; padding-top: 9px; } 
.card-work-detail .conWrap-bottom span { font-size: 10px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #666666; } 

.card-work-detail02 .conBody { width: 160px; padding: 15px 23px; } 
.card-work-detail02 .table { margin-bottom: 0 !important; } 
.card-work-detail02 td { padding: 6px 0 !important; } 
.card-work-detail02 td:first-child { font-size: 12px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.3px; color: rgba(145, 145, 145, 0.7); } 
.card-work-detail02 td:last-child { font-size: 12px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; text-align: right; letter-spacing: -0.33px; color: rgba(48, 48, 48, 0.7); } 


.card-work .dateBx { display: flex; justify-content: center; align-items: center; height: 59px; border-right: 1px solid #96969633; flex: 1 0 77px; max-width: 77px; } 
.card-work .dateBx + div { padding: 10px; } 
.card-work .date { font-size: 16px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #666666; } 
.card-work .day { font-size: 12px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #666666; margin-left: 2px; } 
.work-timeWrap { display: none !important; flex: 1 350px; max-width: 420px; } 
.work-typeWrap { margin-left: auto; flex: 1 72px; } 
.work-timeWrap.active { display: flex !important; } 
.work-time:hover { cursor: pointer; } 
.work-time span { font-size: 14px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #7f7f7f; margin-right: 4px; cursor: default; } 
.work-time::before { content: ''; width: 12px; height: 12px; display: inline-block; background: url(../images/icon-clock.svg) center/contain no-repeat; margin-right: 2px; vertical-align: -1px; } 
.work-time i { display: inline-block; width: 16px; height: 16px; border-radius: 3px; border: solid 1px #93a48e; background: #bed1b8 url(../images/ic_modify.svg) center/10px 10px no-repeat; box-sizing: border-box; vertical-align: -3px; cursor: pointer; } 
.total-timeBx { font-size: 12px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 1.17; letter-spacing: -0.4px; color: #acacac; } 
.total-timeBx .total-time { margin-left: 7px; font-size: 14px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #666666; } 


/* 0805 e,f 추가 */
.work-type { display: flex; justify-content: center; align-items: center; width: 20px; height: 20px; color: #fff; font-size: 8px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 1; letter-spacing: -0.16px; text-align: center; color: #ffffff; border-radius: 4px; } 
.work-type + .work-type { margin-right: 6px; } 
.work-type-a { background:#bed1b8; } 
.work-type-b { background:#605e7f; } 
.work-type-c { background:#ad7777; } 
.work-type-d { background: #7ea8aa; } 
.work-type-e { background-color: #396693; } 
.work-type-f { background-color: #c5b75d; } 
.work-type-black { background-color: #3d3d3d; } 
.date-calendar02 { position: relative; font-family: 'GothicA1', 'sans-serif', '돋움'; font-size: 12px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #9a9a9a; } 
.date-calendar02::after { content: ''; border-width: 4px 4px 0 4px; border-style: solid; border-color: transparent; border-top-color:#868686; margin-top: -2px; margin-left: 5px; } 
.date-calendar02 .form-control { display: block; width: 68px; text-align: center; padding: 0; height: 12px; font-size: 12px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #9a9a9a; background-color: transparent; border: unset; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: unset; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; } 
.date-calendar03 { position: relative; font-family: 'GothicA1', 'sans-serif', '돋움'; font-size: 12px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.17; letter-spacing: -0.4px; color: #666666; } 
select.select02.form-control,
.date-calendar03 .form-control { padding: 10px 12px 8px; border-radius: 4px; border: solid 1px #d7d7d7; background-color: #ffffff; font-size: 12px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.17; letter-spacing: -0.4px; color: #666666; } 
.selectIcon { position: relative; } 
.selectIcon::after { content: ''; position: absolute; top: 14px; right: 11px; border-width: 9px 5px 0 5px; border-style: solid; border-color: transparent; border-top-color:#868686; margin-top: -2px; } 



/* MODAL */
.newModal .modal-content { background-color: #f5f5f5; } 
.newModal .modal-header { padding: 7px 10px; background: #fff; border-bottom: 0; } 
.newModal .modal-header button span { display: block; width: 24px; height: 24px; background: url(../images/icon-cancle.svg) center no-repeat; border-radius: 4px; background-color: #d35230; margin-bottom: 0 !important; } 

.newModal .modal-body { padding: 14px 20px 10px; border-top: solid 1px rgba(98, 118, 83, 0.4); box-sizing: border-box; } 
.newModal .modal-footer { padding: 0 20px 10px; background-color: transparent; border-top: 0; } 
.newModal .modal-footer button { margin: 0; padding:9px; min-width: 94px; border-radius: 4px; background-color: #2d6b00; font-size: 12px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal; color: #ffffff; } 
.newModal h5 { font-size: 14px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #666666; padding: 4px 0; } 
.newModal .input-section + .input-section { border-top: solid 1px #97979740; padding-top: 12px; margin-top: 12px; } 
.newModal input { padding: 3px 10px; border-radius: 4px; border: solid 1px #d7d7d7; background-color: #ffffff; font-size: 12px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1; letter-spacing: -0.2px; color: #777777; } 
.newModal textarea { padding:9px 13px; border-radius: 4px; border: solid 1px #d7d7d7; background-color: #ffffff; min-height: 102px; font-size: 12px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 1.17; letter-spacing: -0.4px; color: #acacac; } 
.newModal textarea::placeholder { color: #acacac; } 

.newModal .input-time { align-items: center; } 
.newModal .input-time::before { content: ''; width: 12px; height: 12px; display: inline-block; background: url(../images/icon-clock.svg) center/contain no-repeat; vertical-align: -1px; margin-right: 9px; } 
.newModal .input-time input { flex: 0 0 80%; border: 0; background-color: transparent; padding-left: 0; } 
/* 0729 추가 */
.newModal .input-time span { font-size: 12px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1; letter-spacing: -0.2px; color: #777777; } 

.nav-hamburg { display: none; padding: 5px; height: auto; margin: 0 15px; } 
.nav-hamburg span { display: block; width: 21px; height: 3px; border-radius: 1px; background-color: #7d7d7d; } 
.nav-hamburg span + span { margin-top: 4px; } 

@media screen and (max-width: 768px){
 .container-mobile-con { padding-left: 20px; padding-right:20px; } 
 .container.container-mobile-tab { padding: 0 !important; margin-bottom: 17px; } 
 .new-nav-tabs { display: flex; align-items: center; } 
 .new-nav-tabs .nav-hamburg { display: block; } 
 .new-nav-tabs .nav-more-btn { text-indent: -9999px; display: flex; justify-content: center; align-items: center; width: 30px; height: 30px; position: absolute; top: 10px; right: 16px; } 
 .new-nav-tabs .nav-more-btn span { width: 5px; height: 5px; background-color: #838382; } 
 .new-nav-tabs .nav-more-btn span + span { margin-left: 4px; } 
/* .new-nav-tabs { border-bottom: 0; } */
 .new-nav-tabs .nav-link { display: none; font-size: 14px; padding: 20px 0 16px; } 
 .new-nav-tabs .nav-link.active { display: block; } 
 /* 0725 - 탭 세로값 보완 */
 .new-nav-tabs .nav-link.active, .new-nav-tabs .nav-item.show .nav-link { border-bottom: 0 transparent; background: transparent; margin-bottom: 0; } 
 /* .new-nav-tabs .nav-link.active, .new-nav-tabs .nav-item.show .nav-link { border-bottom: 0 transparent; } */
 .home-card .card + .card { margin-top: 16px; } 
 .home-card-right { max-width: 100%; } 
 .home-card .card:last-child { margin-bottom: 2px; } 
 .home-card .card:nth-child(1) { background: transparent; } 
 .home-card .card:nth-child(1) .card-body { padding: unset; } 
 .home-card .card:nth-child(1) h5 { font-size: 20px; } 
 .home-card .card:nth-child(1) .card-name + div { align-items: flex-end; margin-top: -34px; } 
 .home-card .card:nth-child(1) .card-name + div .card-title { margin-bottom: 0; } 
 .home-card .card:nth-child(1) .btn { padding: 8px; } 
 .home-card .card:nth-child(2) span.card-name { margin-top: 0; } 
 .home-card .card:nth-child(2) h5 { font-size: 16px; } 
 .home-card .card:nth-child(2) .card-body { padding: 20px 24px 4px; } 
 .home-card .card .table.homeCardTable th, .home-card .card .table.homeCardTable td { padding-left: 0; padding-right: 0; } 
 .home-card .card:nth-child(2) .card-body .conWrap-right { margin-top: -13px; } 


 .home-card .card:nth-child(3) .card-body { padding: 20px 24px; } 
 .home-card .card .progressBx { margin-top: 17px; } 
 .home-card .card .remaining { font-size: 10px; margin: 12px 0 15px; } 
 .card-work + .card-work { margin-top: 5px; } 
 /* .card-work:hover .card-work-detail { display: none; } */
 
 .work-timeWrap { max-width: 100%; } 

 .work-typeWrap,
 .total-timeBx { display: none !important; } 
 .work-time a { visibility: hidden; } 
 .card-work .dateBx { height: 25px; flex: 1 0 75px; max-width: 75px; } 
 .card-work .dateBx + div { padding: 0; } 

 /* MODAL - mobile */
 .newModal .modal-dialog { max-width: 100% !important; margin: 0 20px; } 
 }



 /* 0729 추가 */
.work-time { cursor: default; } 
.work-time span { font-size: 14px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #7f7f7f; margin-right: 4px; cursor: default; } 
.work-time i { display: inline-block; width: 16px; height: 16px; border-radius: 3px; border: solid 1px #93a48e; background: #bed1b8 url(../images/ic_modify.svg) center/10px 10px no-repeat; box-sizing: border-box; vertical-align: -3px; cursor: pointer; } 
.card-work.today { border-left:3px solid #2e7000; border-top-left-radius: 0; border-bottom-left-radius: 0; } 
.date-calendar02 .form-control { display: block; width: 68px; text-align: right; padding: 0; height: 12px; font-size: 12px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #9a9a9a; background-color: transparent; border: unset; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: unset; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; } 
@media screen and (max-width: 768px){
 .work-time i { display: none; } 
 .card-work.active { flex-wrap: wrap; } 
 .card-work.active .work-timeWrap { width: 100%; } 
 .card-work.active .card-work-detail { display: block; position: static; width: 100%; } 
 .card-work.active .card-work-detail::after { display: none; } 
 .card-work-detail .conBody { border: 0; padding:8px 10px 4px; width: 100%; } 
 .card-work:hover .card-work-detail { box-shadow: unset; } 
 .card-work-detail .conBody table { border-radius: 0; border-top: 1px solid rgb(151 151 151 / 23%) } 
 .card-work-detail .conBody table col { width: unset; } 
 .card-work-detail .conBody table tr { display: flex; align-items: center; justify-content: space-between; } 
 .card-work-detail .conBody table tr:first-child { padding-top: 5px; } 
 .card-work-detail .conBody table tr td { width: 25%; } 
 .card-work-detail .conBody table tr td:nth-child(1) { width: 10%; } 
 .card-work-detail .conBody table tr td:nth-child(2) { } 
 .card-work-detail .conBody table tr td:nth-child(3) { text-align: right; } 
 .card-work-detail .conBody table tr td:nth-child(3) span { float:right; } 
 /* .card-work-detail .conBody table tr td:nth-child(4) { width: 120px; text-align: right; font-size: 12px; } */
 .card-work.active .work-time { display: flex; align-items: center; } 
 .card-work.active .work-time i { display: inline-flex; align-items: center; justify-content:center; width: 34px; height:18px; border: 0; background-image: none; text-align: center; background-color: #e5e9e2; } 
 .card-work.active .work-time i::before { content: '변경'; font-size: 10px; font-weight: 600; font-stretch: normal; font-style: normal; line-height:1; letter-spacing: -0.33px; color: #9d9d9d; } 
 .card-work-detail .conWrap-bottom { border-top: 1px solid rgb(151 151 151 / 23%) } 
 /* .card-work-detail .work-type { font-weight: 300; } */
 .conWrap-bottom span { flex: 1 0 auto; font-size: 12px !important; } 
 }






/* 0801 */

.card-work-detail .table { margin-bottom: 6px; } 
.card-work-detail .table td { border: 0 } 
.card-work-detail .conWrap-bottom { border-top: 1px solid rgb(151 151 151 / 23%); padding-top: 9px; } 
@media screen and (max-width: 768px){
 .card-work-detail .conBody table tr:first-child td { padding-top: 8px !important; } 
 .card-work-detail .conBody table tr td { width: auto; vertical-align: middle; } 
 .card-work-detail .conBody table tr td:nth-child(1) { width: 65px; } 
 .card-work-detail .conBody table tr td:nth-child(3) { text-align: right; padding-right:5px; } 
 .card-work-detail .conBody table tr td:nth-child(4) { width: 130px; text-align: right; font-size: 12px; } 
 .card-work-detail .conBody table tr { display: table-row; } 
 }

.home-card .card .table.homeCardTable th,
.home-card .card .table.homeCardTable td { border: 0; } 


/* 모바일 햄버거 사이드 메뉴 */
.container.container-mobile-tab { padding: 0 !important; margin-bottom: 17px; position: relative; } 
.m-sideWrap { display: none; position: absolute; top: 54px; left: 0; width: 100vw; height: 100vh; z-index: 10; } 
.m-side-on .m-sideWrap::after { content:''; position: absolute; top: 0; left: 0; width: 100vw; height: 100%; background: rgba(0, 0, 0, 0.25); } 
.m-side-menu { position: absolute; top: 0; left: 0; width: 143px; height: 100vh; background: #ffffff; z-index: 10; box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.28); } 
.m-side-menu .item { background-color: #d3d3d3; } 
.m-side-menu .item a { color: none; text-decoration: none; } 
.m-side-menu .item div { display: flex; justify-content: center; align-items: center; box-sizing: border-box; border-bottom: solid 1px rgba(255, 255, 255, 0.7); height: 41px; font-size: 14px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.2px; text-align: center; color: rgba(0, 0, 0, 0.89); padding-left: 3px; padding-right: 3px; } 
.m-side-menu li.active .item { border-left:3px solid #2e7000; background: #fff; } 
.m-side-menu li.active .item div { border-bottom-color: rgba(151, 151, 151, 0.4); padding-left: 0; } 
.m-side-menu li dl { display: none; } 
.m-side-menu li.active dl { display: block; } 
.m-side-menu li.active dl a { text-decoration: none; } 
.m-side-menu li.active dl dd { line-height: 37px; height: 37px; font-size: 12px; font-weight: 500; font-stretch: normal; font-style: normal; letter-spacing: -0.55px; color: rgba(135, 135, 135, 0.89); padding-left: 15px; margin-bottom: 0; } 
.m-side-menu li.active dl dd.active { padding-left: 12px; border-left: 3px solid #2e7000; color: rgba(0, 0, 0, 0.89); } 



/* 일정신청 */
.newModal .modal-body.modal-schedule { padding: 0; } 
.modal-body .modal-schedule-head { padding: 20px; border-bottom:solid 1px rgba(98, 118, 83, 0.4); box-sizing: border-box; background-color: #e9ecef; } 
.modal-body .modal-schedule-head h4 { font-size: 14px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #666666; margin-bottom: 0; } 
.newModal .modal-schedule .new-raido { display: block; } 
.newModal .modal-schedule .new-raido .input-group-text { width: 100%; border: 0; border-bottom: solid 1px rgba(98, 118, 83, 0.4); padding: 0; border-radius: 0; box-sizing: border-box; position: relative; display: block; } 
.newModal .modal-schedule .new-raido .input-group-text label { background: transparent; font-size: 12px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #666666; display: block; text-align: left; padding: 13px 20px; } 
.newModal .modal-schedule .new-raido .input-group-text label i { position: absolute; right: 25px; top: 50%; transform: translateY(-50%); display: block; width: 18px; height: 18px; border: solid 1px #e2e2e2; border-radius: 50%; background-color: #ffffff; } 
.newModal .modal-schedule .new-raido .input-group-text label input:checked + i::before { position: absolute; content: ''; width: 10px; height: 10px; background-color: #2d6b00; right: 50%; top: 50%; transform: translate(50%, -50%); border-radius: 50%; } 

.newModal .modal-schedule .new-raido .input-group-text input { position: absolute; right: 25px; top: 50%; transform: translateY(-50%); visibility: hidden; } 

.newModal .modal-schedule + .modal-footer { background-color: #e9ecef; padding-top: 9px; } 


/* 0802 */
.newModal .input-time input { padding: 3px 10px; border-radius: 4px; border: solid 1px #d7d7d7; background-color: #ffffff; font-size: 12px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1; letter-spacing: -0.2px; color: #777777; } 

@media screen and (max-width:768px){
 .home-card .card .table.homeCardTable td { padding-left: 22px; } 

 .card-work.active .work-time i { display: inline-flex; align-items: center; justify-content:center; width: 34px; height:18px; border: 0; background-image: none; text-align: center; background-color: transparent; margin-left: -2px; } 
 .card-work.active .work-time i::before { content: ''; font-size: 10px; font-weight: 600; font-stretch: normal; font-style: normal; line-height:1; letter-spacing: -0.33px; color: #9d9d9d; background: url(../images/icon-edit-mobile.svg) center/contain no-repeat; width: 23px; height: 23px; display: block; } 

 .card-work .date { font-size: 14px; } 
 .work-time span { font-size: 12px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #9d9d9d; } 
 .card-work-detail .table td { font-size:12px; } 
 }



/* 0803 */
.date-calendar04 { position: relative; } 


/* 0806 */
.home-card .card:nth-child(2) span:nth-of-type(2) { font-size: 14px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #a1a1a1; margin-bottom: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 80px; } 
.home-card .card:nth-child(2) h5 { font-size: 18px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: rgba(50, 50, 50, 0.7); margin-bottom: 4px; width: 100%; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box; } 
.home-card .card:nth-child(2) .card-body .conWrap-right { max-width: 171px; min-width: 156px; width: 50%; } 

/* 0806 */
@media screen and (max-width:768px){
 .card-work[aria-expanded="true"] .work-time i { display: inline-flex; align-items: center; justify-content:center; width: 34px; height:18px; border: 0; background-image: none; text-align: center; background-color: transparent; margin-left: -2px; } 
 .card-work[aria-expanded="true"] .work-time i::before { content: ''; font-size: 10px; font-weight: 600; font-stretch: normal; font-style: normal; line-height:1; letter-spacing: -0.33px; color: #9d9d9d; background: url(../images/icon-edit-mobile.svg) center/contain no-repeat; width: 23px; height: 23px; display: block; } 
 
 .card-work .card-body { padding: 0; padding-top: 10px; } 
 .card-work .dateBx { height: 25px; flex: 1 0 65px; max-width: 65px; justify-content: flex-start; margin-left: 2px; } 

 /* 0809 */
 .container-mobile-tab.m-side-on .m-sideWrap { display: block; } 
 }


.card-work-detail { font-size: 12px; } 
.card-work-detail span { font-size: 1em; font-weight: 600; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #696969; } 
.card-work-detail .conWrap-top { padding: 2px 0; border-top: 1px solid rgb(151 151 151 / 23%); } 
.card-work-detail .conWrap-top > div { margin: 6px 0; } 
.card-work-detail .conWrap-top .work-info span.tit { color: #c5c5c5; width: 60px; } 
.card-work-detail .conWrap-top .work-time::before { display: none; } 
.card-work-detail .conWrap-top .work-time .work-type { color: #fff; font-weight: normal; font-size: 0.7em; } 
.card-work-detail .conWrap-top .work-time span:last-child { width: 130px; text-align: right; } 

.card-work-detail .conWrap-bottom { border-top: 1px solid rgb(151 151 151 / 23%); padding-top: 9px; } 
.card-work-detail .conWrap-bottom span { font-size: 1em; font-weight: normal; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #666666; } 

.popover-body.new-popover-body { display: block; box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.28); border: 1px solid #2e7000; z-index: 1; background-color: #fff; width: 310px; border-radius: 4px; padding:4px 16px 11px; } 
.popover-body.new-popover-body .conWrap-top { border:0 } 

.card-work:nth-child(7):hover .card-work-detail,
.card-work:nth-child(8):hover .card-work-detail { top: unset; bottom: calc(100% + 10px) } 
.popover-body.new-popover-body .card-work-detail::after,
.popover-body.new-popover-body .card-work-detail::before { content: ''; width: 14px; border: 10px solid transparent; border-bottom-color: #2e7000; position: absolute; top: -20px; left: 0; right: 0; margin: 0 auto; z-index: 2; } 
.popover-body.new-popover-body .card-work-detail::after { top:-19px; border-bottom-color: #fff; } 

.popover-body.new-popover-body.bs-popover-top .card-work-detail::after,
.popover-body.new-popover-body.bs-popover-top .card-work-detail::before { content: ''; width: 14px; border: 10px solid transparent; border-top-color: #2e7000; position: absolute; top: unset; bottom:-20px; left: 0; right: 0; margin: 0 auto; z-index: 2; } 
.popover-body.new-popover-body.bs-popover-top .card-work-detail::after { top:unset; bottom:-25px; border-top-color: #fff; } 
.popover-body.new-popover-body .card-work-detail .work-type { color:#fff !important; } 


.popover-body.new-popover-body.popover-team { width: auto; } 
.popover-body.new-popover-body.popover-team { padding: 11px 16px; } 
/* .popover-body.new-popover-body.popover-team.bs-popover-top { top: 43px !important; } */
.popover-body.new-popover-body.popover-team .card-work-detail div + div { margin-top: 7px; } 
.popover-body.new-popover-body.popover-team .card-work-detail .work-type { margin-right: 9px; } 

/* 0809 */
.popover-body.new-popover-body.work-pop02 { width: 146px; padding: 11px 16px; color: rgba(48, 48, 48, 0.7); } 
.popover-body.new-popover-body.work-pop02 .card-work-detail div { display: flex; justify-content: space-between; align-items: center; } 
.popover-body.new-popover-body.work-pop02 div + div { margin-top: 11px; } 
.popover-body.new-popover-body.work-pop02 .tit { color: rgba(145, 145, 145, 0.7); } 


.home-card { min-width: 360px; flex: 1 0 335px; } 
.home-card-right { max-width: calc(100% - 360px); flex: 1 0 auto; padding-left: 0; } 
.popover-body.new-popover-body.bs-popover-top .card-work-detail::after { top: unset; bottom: -19px; border-top-color: #fff; } 
/* 0811 */
.work-type { display: flex; justify-content: center; align-items: center; width: 28px; height: 28px; color: #fff; font-size: 12px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 1; letter-spacing: -0.16px; text-align: center; color: #ffffff; border-radius: 4px; } 
@media screen and (max-width:768px){
 .home-card-right { max-width: 100%; padding-left: calc(var(--bs-gutter-x) / 2); } 
 .home-card { min-width: initial; } 
 .date-calendar02 .form-control { width: auto !important; } 
 .card-work .dateBx { height: 25px; flex: 1 0 auto; max-width: 65px; justify-content: flex-start; margin-left: 2px; } 
 }


 /* 0812 */
 .home-card .card:nth-child(2) .card-body .conWrap-left { width: 44%; } 
 .home-card .card:nth-child(2) span:nth-of-type(2) { font-size: 14px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -0.4px; color: #a1a1a1; margin-bottom: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; } 
 .card-work .work-typeWrap { flex-wrap: wrap; max-width: 145px; column-gap: 8px; row-gap: 8px; } 
 .work-type + .work-type { margin-right: 0; } 
 .card-work { padding: 10px; padding-right: 28px; background-color: #fff; border-radius: 4px; border-left: 3px solid transparent; position: relative; } 
 .card-work .dateBx + div { padding: 0; } 
@media screen and (max-width:768px){
 .home-card .card:nth-child(2) .card-body .conWrap-left { width: 44%; } 
 .home-card .card:nth-child(2) .card-body .conWrap-right { min-width: 138px; } 
 .home-card .card:nth-child(2) .card-body .conWrap-right td { padding-left: 0; } 
 .work-time span { font-size: 12px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: -1.4px; color: #9d9d9d; } 
 .card-work-detail .conWrap-top .work-time span:last-child { width: 105px; text-align: right; } 
 .newModal .modal-body.modal-schedule.case02 { padding: 20px; max-height: 425px; overflow: auto; } 
 }



 /* 0817 */

.wrap { position: relative; padding-top: 54px; overflow: hidden; height: 100%; } 
.section-home { background-color: #f4f2f1; height: 100%; overflow: auto; padding-top: 17px; } 
.container-schedule > .sub-sideWrap + .w-100 { overflow: auto; } 
.section-myschedule { height: 100%; } 
.container-myschedule { overflow: auto; height: 100%; } 
.container.container-mobile-tab { padding: 0 !important; position: absolute; top: 0; left: 0; width: 100%; z-index: 3; } 
 @media screen and (max-width:768px){
 .new-nav-tabs .nav-setting { display: none; width: 30px; height: 30px; background: url(../images/btn-setting-command.svg) center/24px no-repeat; position: absolute; right: 21px; top: 10px; text-indent: -9999px; } 
 }
 

 /* 0819 */
 .wrap {
    position: relative;
    padding-top: 54px;
    overflow: hidden;
    height: 100%;
    max-width: 1920px;
 }
 .home-card-right {
    max-width: calc(100% - 360px);
    flex: 1 0 auto;
    padding-left: 0;
    min-width: 720px;
}
.row {
    flex-wrap: nowrap;
}
@media screen and (max-width:768px){
    .home-card-right {
        min-width: 100%;
    }
    .row {
        flex-wrap: wrap;
    }   
}
@media screen and (max-width:375px){.date-calendar03 .form-control{padding:5px; font-size:10px;}}