 <!-- PRELIST - NEXTLIST MODULE -->
<section class="preNext_module">
	<div class="inner">
		<div class="inner2">
			<div class="conWrap">
				<div class="con-l">
					<span class="tit">
						이전 글
					</span>
					<div class="cardItem">
						{% if content.previous_post_slug %}
						<a href="/{{ content.previous_post_slug }}">
							<div class="imgWrap">
								<img class="lazyload" src="{{content.previous_post_featured_image ? content.previous_post_featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/contentImage/img-thumb-preO2x.png")}}" alt="이전글이미지">
							</div>
							<p>
								{{content.previous_post_name}}
							</p>
						</a>
						{% endif %}
					</div>
				</div>
				<hr>
				<div class="con-r">
					<span class="tit">
						다음 글
					</span>
					<div class="cardItem">
						{% if content.next_post_slug %}
						<a href="/{{ content.next_post_slug }}">
							<div class="imgWrap">
								<img class="lazyload" src="{{content.next_post_featured_image ? content.next_post_featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/contentImage/img-thumb-nextO2x.png")}}" alt="다음글이미지">
							</div>
							<p>
								{{content.next_post_name}}
							</p>
						</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>