.loadingContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loadingTitle{
  width: 305px;
  height: 43px;
  
  object-fit: contain;
  font-family: GothicA1;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: -0.51px;
  text-align: center;
  color: #252525;
}

.loadingTitle1{
  width: 305px;
  height: auto;
  
  object-fit: contain;
  font-family: GothicA1;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: -0.51px;
  text-align: center;
  color: #252525;
}