{% set category = module.choice_field  %}

{% set select_blog1 = blog_post_by_id( module.text_field_1 ) %}
{% set select_blog2 = blog_post_by_id( module.post_id_2 ) %}
{% set select_blog3 = blog_post_by_id( module.post_id_3 ) %}

{% set select_category1 = module.choice_field %}
{% set select_category2 = module.post_2 %}
{% set select_category3 = module.post_3 %}


<section class="home-keyContents keyCon-t">
	<div class="inner">
		<div class="slideWrap" style='display:none'>
			<div class="bxslider">
				{% for post in select_blog1 %}
				<div class="conWrap keyCon-t">
					<div class="col-l">
						<a href="{{post.absolute_url}}">
							<div class="imgWrap">
								<img class="lazyload" style='width:100%' src="{{post.featured_image ? post.featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/contentImage/img_view-3-03O2x.png")}}" alt="홈슬라이드이미지">
							</div>
						</a>
					</div>


					<div class="col-r col-r-t" style="background: {{select_category1 == '기술' ? '#4747b3' : (select_category1 == '지속가능경영' ? '#009a93':'#0072c6')  }} ">
						<div class='right-col-r'>
							<a href="{{post.absolute_url}}">
								<div class="progress">
									<em>
										{{select_category1}}
										</em>
									<i class="arrow"></i>
									<span class="progressBar pro-ani" style="width: 0%;"> <!-- 0913 span class style="width: 0%;" 수정--> </span>
								</div>
							</a>
							<a  href="{{post.absolute_url}}">
								<h1>
									{{post.name}}
								</h1>
								<div class='removeTech removeTech1' style='display:none'>{{post.post_body}}</div>
								<p class='showTech showTech1'></p>
							</a>
						</div>
						<a class="btn-detail" href="{{post.absolute_url}}">
							<i></i>
							자세히 읽기
						</a>
					</div>
				</div>
				{% endfor %}
				
				
				{% for post in select_blog2 %}
				<div class="conWrap keyCon-t">
					<div class="col-l">
						<a href="{{post.absolute_url}}">
							<div class="imgWrap">
								<img class="lazyload" style='width:100%' src="{{post.featured_image ? post.featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/contentImage/img_view-3-03O2x.png")}}" alt="홈슬라이드이미지">
							</div>
						</a>
					</div>


					<div class="col-r col-r-t" style="background: {{select_category2 == '기술' ? '#4747b3' : (select_category2 == '지속가능경영' ? '#009a93':'#0072c6')  }} ">
						<div class='right-col-r'>
							<a href="{{post.absolute_url}}">
								<div class="progress">
									<em>
										{{select_category2}}
										</em>
									<i class="arrow"></i>
									<span class="progressBar pro-ani" style="width: 0%;"> <!-- 0913 span class style="width: 0%;" 수정--> </span>
								</div>
							</a>
							<a  href="{{post.absolute_url}}">
								<h1>
									{{post.name}}
								</h1>
								<div class='removeTech removeTech2' style='display:none'>{{post.post_body}}</div>
								<p class='showTech showTech2'></p>
							</a>
						</div>
						<a class="btn-detail" href="{{post.absolute_url}}">
							<i></i>
							자세히 읽기
						</a>
					</div>
				</div>
				{% endfor %}
				
				
				{% for post in select_blog3 %}
				<div class="conWrap keyCon-t">
					<div class="col-l">
						<a href="{{post.absolute_url}}">
							<div class="imgWrap">
								<img class="lazyload" style='width:100%' src="{{post.featured_image ? post.featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/contentImage/img_view-3-03O2x.png")}}" alt="홈슬라이드이미지">
							</div>
						</a>
					</div>


					<div class="col-r col-r-t" style="background: {{select_category3 == '기술' ? '#4747b3' : (select_category3 == '지속가능경영' ? '#009a93':'#0072c6')  }} ">
						<div class='right-col-r'>
							<a href="{{post.absolute_url}}">
								<div class="progress">
									<em>
										{{select_category3}}
										</em>
									<i class="arrow"></i>
									<span class="progressBar pro-ani" style="width: 0%;"> <!-- 0913 span class style="width: 0%;" 수정--> </span>
								</div>
							</a>
							<a  href="{{post.absolute_url}}">
								<h1>
									{{post.name}}
								</h1>
								<div class='removeTech removeTech3' style='display:none'>{{post.post_body}}</div>
								<p class='showTech showTech3'></p>
							</a>
						</div>
						<a class="btn-detail" href="{{post.absolute_url}}">
							<i></i>
							자세히 읽기
						</a>
					</div>
				</div>
				{% endfor %}
				

			</div>
		</div>
	</div>
</section>



{% require_js %}
<script>

	var slider= $(function(){
		$(".bxslider").bxSlider({
			responsive : true,
			HideControlOnEnd : true,
			infiniteLoop: true , 
			slidesToShow: 1,
			autoControls : true,
			slidesToScroll: 1,
			stopAutoOnClick:true, //해당 클릭시 오토 리셋 
			auto: true,
			autoDirection : 'next',
			arrows:false,
			dots:true, 
			autoplaySpeed: 1500,
			speed: 800,
			pause: 7300,
			touchEnabled : (navigator.maxTouchPoints > 0),
			onSliderLoad: function () {
				$('.bx-controls.bx-has-controls-direction.bx-has-pager .bx-controls-direction a.bx-prev').addClass('btn-slide-l');  
				$('.bx-controls.bx-has-controls-direction.bx-has-pager .bx-controls-direction a.bx-next').addClass('btn-slide-r');  
			},
			preloadImages:'all',
			pauseOnHover:true,
			onSlideBefore : function(event){
				$(".progressBar").removeClass('pro-ani');  
				$('.bx-start').trigger('click');
			},
			onSlideAfter : function(event){
				$(".progressBar").addClass('pro-ani');
				$('.bx-start').trigger('click');
			},
		}); 
	});


</script>
{% end_require_js %} 
