<!-- SUBSCRIP_MODULE -->
<section class="subscrip_module">
    <div class="inner">
        <div class="subscrip_top">
            <h1>
                SK하이닉스 뉴스룸을
                구독하세요
            </h1>
            <a class="reporter">    
                언론인이신가요?
            </a>
        </div>
        <div class="conWrap">
          <div class="col-l">
            <h4>SK하이닉스가 전하는 산업 및 비즈니스 트렌드, 그리고 함께하는 세상의 다양한 이야기를 전합니다</h4>
          {% form
          	form_to_use="{{ module.form_bajic.form_id }}"
          	response_response_type="{{ module.form_bajic.response_type }}"
          	response_message="{{ module.form_bajic.message }}"
          	response_redirect_id="{{ module.form_bajic.redirect_id }}"
          	response_redirect_url="{{module.form_bajic.redirect_url}}"
          	gotowebinar_webinar_key="{{ module.form_bajic.gotowebinar_webinar_key }}"
          %}
          </div>
          
          

<!--             <div class="col-l">
                <h4>
                    SK하이닉스가 전하는 산업 및 비즈니스 트렌드, 그리고 함께하는 세상의 다양한 이야기를 전합니다
                </h4>
                <div class="subscrip_bottom">
                    <div class="radioWrap">
                        <div class="radioItem">
                            <input id="radio1" type="radio" name="tab">
                            <label for="radio1">
                                기술 소식이 궁금합니다.
                            </label>
                        </div>
                        <div class="radioItem">
                            <input id="radio2" type="radio" name="tab">
                            <label for="radio2">
                                SK하이닉스 소식이 궁금합니다.
                            </label>
                        </div>
                        <div class="radioItem">
                            <input id="radio3" type="radio" name="tab" checked>
                            <label for="radio3">
                                모든 소식
                            </label>
                        </div>
                    </div>
                    <div class="submitWrap">
                        <div class="inputWrap">
                            <input type="text" placeholder="성함을 입력하세요">
                            <input type="email" placeholder="e-Mail을 입력하세요.">
                            <button>
                                구독하기
                            </button>
                        </div>
                        <span>‘구독하기’를 통한 구독신청시 SK하이닉스에게 정보를 제공하는 것에 동의하는 것으로 간주하며, SK하이닉스가 제공하는 정보를 수신함을 의미합니다. 자세한 사항은 SK하이닉스 <a href="#">개인정보취급방침</a> 및 <a href="#">이용약관</a>을 참조해주세요.</span>
                    </div>
                </div>
            </div> -->
            <div class="col-r">

            </div>
        </div>
    </div>
</section>

<section class="subscrip_module subscrip_module2">
        <div class="inner">
            <div class="subscrip_top">
                <h1>
                    SK하이닉스의 새로운 소식을 가장 빠르게 제공합니다 
                </h1>
                <a class="public">    
                    구독자이신가요?
                </a>
            </div>
            <div class="conWrap">
<!--                 <div class="col-l">
                    <h4>
                        SK하이닉스가 발행하는 최신 뉴스와 보도자료를 이메일로 전해드립니다. 희망하는 알람 일정을 선택하세요.
                    </h4>
                    <div class="subscrip_bottom">
                        <h5>알림 수신 주기를 선택하세요.</h5>
                        <div class="radioWrap">
                            <div class="radioItem">
                                <input id="radio1" type="radio" name="tab">
                                <label for="radio1">
                                    즉시 알림
                                </label>
                            </div>
                            <div class="radioItem">
                                <input id="radio2" type="radio" name="tab">
                                <label for="radio2">
                                    주 1회
                                </label>
                            </div>
                            <div class="radioItem">
                                <input id="radio3" type="radio" name="tab" checked>
                                <label for="radio3">
                                    월 1회
                                </label>
                            </div>
                        </div>
                        <div class="submitWrap">
                            <div class="inputWrap">
                                <input type="email" placeholder="e-Mail을 입력하세요.">
                                <button>
                                    알림신청
                                </button>
                            </div>
                            <span>
                                ‘알림신청’을 통한 정보제공시 SK하이닉스에게 정보를 제공하는 것에 동의하는 것으로 간주하며, SK하이닉스가 제공하는 정보를 수신함을 의미합니다. 자세한 사항은 SK하이닉스 <a href="#">개인정보취급방침</a> 및 <a href="#">이용약관</a>을 참조해주세요.
                            </span>
                        </div>
                    </div>
                </div>
                -->
                <div class="col-r">

                </div>
              <div class="col-l">
                <h4>SK하이닉스가 발행하는 최신 뉴스와 보도자료를 이메일로 전해드립니다<br>희망하는 알람 일정을 선택하세요</h4>
                 {% form
                 	form_to_use="{{ module.form_field.form_id }}"
                 	response_response_type="{{ module.form_field.response_type }}"
                 	response_message="{{ module.form_field.message }}"
                 	response_redirect_id="{{ module.form_field.redirect_id }}"
                 	response_redirect_url="{{module.form_field.redirect_url}}"
                 	gotowebinar_webinar_key="{{ module.form_field.gotowebinar_webinar_key }}"
                 %}
              </div>
                
            </div>
        </div>
    </section>


<script type='text/babel'>
const pathname = window.location.pathname;
	console.log(pathname, '!!!')
	if(pathname.includes('presscenter') || pathname.includes('library')) {
		$(".subscrip_module").hide();
    $(".subscrip_module2").show();
	} else {
		$(".subscrip_module").show();
    $(".subscrip_module2").hide();
	}

$(".reporter").click(function(){
  $(".subscrip_module").hide();
  $(".subscrip_module2").show();
});

$(".public").click(function(){
  $(".subscrip_module").show();
  $(".subscrip_module2").hide();
})

$(".form-columns-1").addClass("form-columns-0");
</script>