/* 0910 UPDATE */
@media screen and (max-width:1024px) { section.home-keyContents { padding: 24px 0 24px; } 
 section.home-keyContents .slideWrap a.btn-slide-l,
 section.home-keyContents .slideWrap a.btn-slide-r { display: none; } 
 section.home-keyContents .col-r .progress { padding-bottom: 9px;margin-bottom: 18px; } 
 section.home-keyContents .col-l .imgWrap { 
/*    min-height: 426px; */
/*  1013수정   */
   min-height: 381px;
   max-height: 412px;
  } 
 section.home-keyContents .col-r { padding: 40px 24px; } 
 section.home-keyContents .col-r .progressBar { height: 3px; bottom: -3px; } 
 section.home-keyContents .col-r h1 { font-size: 2.0vw; margin-bottom: 1.7vw; } 
 section.home-keyContents .col-r p { font-size: 14px; max-height: 65px;
    overflow: hidden;} 
 }
@media screen and (max-width:767px) { section.home-keyContents .col-r { padding: 24px; padding-bottom: 40px; } 
 section.home-keyContents .col-r p { -webkit-line-clamp: 2; } 
 section.home-keyContents .col-l .imgWrap { min-height: unset; height: 58vw;max-height: 439px; } 
  
  
  
  
 section.home-keyContents .col-r .progress { margin-bottom: 13px; } 
 section.home-keyContents .col-r .progressBar { bottom: 0; } 
 section.home-keyContents .col-r h1 { font-size: 17px; -webkit-line-clamp: 2; margin-bottom: 22px; } 
 section.home-keyContents .col-r p { margin-bottom: 28px; } 
 section.home-keyContents,
 section.home-keyContents .inner { padding: 0; } 
 section.home-keyContents .conWrap { flex-direction: column; } 
 section.home-keyContents .col-l,
 section.home-keyContents .col-r { width: 100%; } 
 section.home-keyContents .col-r .btn-detail { width: 100%; height: 46px; font-size: 14px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 1.57; letter-spacing: normal; text-align: center; color: #4747b3; } 
 section.home-keyContents .col-r .btn-detail i { display: none; } 
}
@media screen and (max-width:1023px) { section.home-pressContents .conWrap .conItem { flex-direction: column; } 
 section.home-pressContents .conWrap .conItem .col-l,
 section.home-pressContents .conWrap .conItem .col-r { width: 100%; } 
 section.home-pressContents .ml_inner { padding: 0}
 section.home-pressContents .conWrap { border: 0; } 
 section.home-pressContents .conItem + .conItem { border: 0 !important; } 
 section.home-pressContents .conWrap .conItem { padding: 40px 24px; } 
 section.home-pressContents .conWrap .conItem .col-r { margin: 0; margin-top: 28px; } 
 section.home-pressContents .conWrap .conItem .col-r .imgWrap { width: 66%; height: 35vw; } 
 section.home-pressContents .ml_inner .btn-detail { margin-right: 24px; } 
 }



@media screen and (max-width:767px) { section.home-pressContents { margin-top: 45px; } 
 section.home-pressContents .ml_inner .btn-detail { margin-bottom: 10px; } 
 section.home-pressContents .conWrap .conItem .newsCon h2 { -webkit-line-clamp: 2; } 
 section.home-pressContents .conWrap .conItem .col-r { flex-direction: column; } 
 section.home-pressContents .conWrap .conItem .col-r .imgWrap { width: 100%; height: calc(56vw - 28px); } 
 section.home-pressContents .conWrap .conItem .col-r .btnWrap { margin-top: 25px; flex-direction: row; width: 100%; } 
 section.home-pressContents .conWrap .conItem .btn-detail-read { margin: 0; margin-right: 28px; } 
  section.list-contentsWrap .conWrap-body .card-bottom {padding: 28px 20px 28px;}
 
 }

/* 0911 UPDATE */
@media screen and (max-width:1023px) { section.home-pressContents { padding-top: 45px; } 

 section.list-contentsWrap .inner { margin-bottom: 24px; } 

 section.list-contentsWrap .conWrap-body .flexWrap-2-1 { flex-direction: column; } 

 section.list-contentsWrap .conWrap-body .flexWrap-2-1 .col-6 { width: 100%; } 

 section.list-contentsWrap .conWrap-body .flexWrap-2-1 .col-6+.col-6 { margin-left: 0; margin-top: 30px; } 

 section.list-contentsWrap .conWrap-body li:nth-child(1),
 section.list-contentsWrap .conWrap-body li:nth-child(2) { margin-bottom: 30px; } 

 section.list-contentsWrap .conWrap-body .flexWrap-4 { flex-wrap: wrap; } 

 section.list-contentsWrap .conWrap-body .flexWrap-4 li { width: calc(50% - 15px); } 

 section.list-contentsWrap .conWrap-body .flexWrap-4 li+li { margin-left: 0; } 

 section.list-contentsWrap .conWrap-body .flexWrap-4 li:nth-child(2n) { margin-left: 30px; } 

 section.list-contentsWrap .list-banner-module { height: 289px; padding-top: 48px; padding-left: 32px; } 
 section.list-contentsWrap .list-banner-module .banner-more { bottom: 44px; } 
  /* 1013 sungwoo */
  section.list-contentsWrap {padding-bottom: 60px;}
/* 1013 sungwoo */
}

@media screen and (max-width:767px) { section.home-pressContents { padding-top: 33px; padding-bottom: 0; } 

 section.list-contentsWrap .list-banner-module h1{ font-size: 22px;}
 section.list-contentsWrap .list-banner-module { width: 100%; margin-left: 0; } 
 section.list-contentsWrap .conWrap-body .flexWrap-4 li,
 section.list-contentsWrap .conWrap-body li { width: 100%; margin-left: 0 !important; margin-bottom: 30px; } 
 section.list-contentsWrap .conWrap-body .flexWrap-4 li:last-child,
 section.list-contentsWrap .conWrap-body li:last-child { margin-bottom: 0; } 
 section.list-contentsWrap .conWrap-body .flexWrap-4,
 section.list-contentsWrap .conWrap-body .flexWrap-2-1 { margin-bottom: 30px; } 
 section.list-contentsWrap .conWrap-body .flexWrap-4 { margin-top: 30px; } 
}

/* 0916 UPDATE */
@media screen and (max-width:768px) {
/*     .sr0Tap .calWrap {
        display: none;
    } */
    .sr0Tap .flexWrap-cal,
    .sr0Tap .skh-select {
        width: 100%;
        margin-left: 0;
    }
}
/* 0916 UPDATE -- 모바일 버전 아닐 때 셀렉트 화살표 없앰 */
@media screen and (min-width:768px) {
    .media-category .list-conWrap-top .categoryWrap .selectWrap i {
        display: none !important;
    }
}

@media screen and (min-width:425px) {
  .sr0Body .list-main-contents li.conWrap {
      padding: 40px 24px;
  }
  .sr0Body .list-main-contents li.conWrap .post-meta {
    margin-bottom: 0px;
  }
  .sr0Body ul.list-main-contents {
    margin-bottom: 40px;
  }
  .accordion-collapse .accordion-body .inner2-paginationWrap .skh-paginationWrap{
    margin-bottom: 90px;
  }

}

@media screen and (max-width:425px) {
    section.home-keyContents .col-r h1{
      font-size: 1.3em;
    -webkit-text-size-adjust: none;
/*     -webkit-text-size-adjust - auto | none | N% (default auto): ; */
      
    -webkit-line-clamp: 2;
    margin-bottom: 13px;
  }
  section.home-keyContents .col-r .progress{
    font-size: 14px;
  }
  section.home-pressContents .conWrap .conItem .col-r .btnWrap{
    margin-top:0px;
  }
  .news_module .newsCon h2{
    font-size: 18px;
    margin-bottom: 17px;
}
  }
}
