<!-- SUB-HEADER -->
<section class="container sub-header">
    <article id="content">
        <div class="inner2">
            <div class="hgroup">
                <div class="clear-fix">
                    <nav class="breadcrumb">
                        <a href="#"><span>NEWSROOM</span></a>
                        <a href="#"><span>프레스센터</span></a>
                        <span>보도자료</span>
                    </nav>
                </div>

                <h1>{{ content.name }}</h1>

                <div class="tagbox">
                    <ul>
                        <li>
													{% for topic in content.topic_list %}
														{% if topic != '' %}
														<a class='tagText' rel='tag'>{{topic.name}}</a>
														{% else %}
														{% endif%}
													{% endfor %}
<!--                             <a href="#" rel="tag">#SK하이닉스</a>
                            <a href="#" rel="tag">#박정호부회장</a>
                            <a href="#" rel="tag">#NAND</a>
                            <a href="#" rel="tag">#CIS</a>
                            <a href="#" rel="tag">#청주캠퍼스</a> -->
                        </li>
                    </ul>
                </div>                        
            </div>
        </div>
  <div class="inner">
            <div class="inner2 hgroup-bottom">
                <div class="post-meta">
                    <span class="date">{{content.publish_date | datetimeformat ('%Y-%m-%d')}}</span>
                    <span class="author"><a href="">{{content.blog_post_author}}</a></span>
                </div>

                <hr class="d-mobile">

                <aside class="share-area">
                    <div class="share-list">
                        <div class="Rectangle-Copy">
                           <ul class="sns">
                                <li class="snsin"><a href="javascript:snsShare('twitter')" title="Twitter">Twitter</a></li>
                                <li class="snsmail"><a href="mailto:" title="Naver">mail</a></li>
                                <li class="snsclose"><a title="More">close</a></li>
                           </ul>
                        </div>
                        <ul class="sns">
                              <li class="url"><a title="url">url</a></li>
                              <li class="fb"><a href="javascript:snsShare('facebook')" title="Facebook">Facebook</a></li>
                              <li class="tw"><a href="javascript:snsShare('twitter')" title="Twitter">Twitter</a></li>
                              <li class="nv"><a href="#" title="Naver">Naver</a></li>
                              <li class="more"><a title="More">More</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <hr>
  </div>
</article>
</section>



<script type='text/babel'>

$(document).ready(function(){
	const $url = window.location.href;

	$('.tagText').click((e) => {
		console.log($(e.target).text(),'clickclick!!!');
		if($url.includes('presscenter')) {
			$('.tagbox .tagText').attr('href', `/presscenter/tag/${$(e.target).text()}/page/1?type=tag&text=${$(e.target).text()}`)
		}
	});
  
  // url주소 복사
  $('ul.sns .url').click((e)=>{
    let url = '';
    let textarea = document.createElement("textarea");
    document.body.appendChild(textarea);
    url = window.document.location.href;
    textarea.value = url;
    textarea.select();
    document.execCommand("copy");
    document.body.removeChild(textarea);
    alert("url이 복사되었습니다.(Ctrl+c를 눌러 주소창에 붙여넣어 주세요)")
  })
  
  
})

$(".more a").click(function(){
  $(".Rectangle-Copy").show();
});

$(".snsclose a").click(function(){
  $(".Rectangle-Copy").hide();
});

</script>

