<section class="container bottom_module">
    <div class="inner">
      <div class="tagbox">
        <ul>
          <li>
            {% for topic in content.topic_list %}
            {% if topic != '' %}
            <a class='topicText topicText{{loop.index}}' rel='tag'>{{topic.name}}</a>
            {% else %}
            {% endif%}
            {% endfor %}
          </li>
        </ul>
      </div>         
        <div class="bottom_con">
            <hr>
            <div class="inner2">
                <a id="toList" class="toList">
                    돌아가기
                </a>
                <aside class="share-area">
                    <div class="share-list">
                      <div class="Rectangle-Copy2">
                        <ul class="sns">
                            <li class="snsin"><a href="#" title="snsin">Twitter</a></li>
                            <li class="snsmail"><a href="mailto:" title="snsmail">Naver</a></li>
                            <li class="snsclose2"><a title="snsclose2">snsclose2</a></li>
                        </ul>
                      </div>
                        <ul id='sns2' class="sns">
                            <li class="url"><a title="url">url</a></li>
                            <li class="fb"><a href="javascript:snsShare('facebook')" title="facebook">Twitter</a></li>
                            <li class="tw"><a href="javascript:snsShare('twitter')" title="Twitter">Twitter</a></li>
                            <li class="nv"><a href="#" title="Naver">Naver</a></li>
                            <li class="more2"><a title="more2">more2</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

<script type='text/babel'>
{

  const initHistoryBack = () => {
	  const URL = window.location.href;
	const preUrl = document.referrer;
	console.log(preUrl, 'PRE URL')
	console.log(URL, 'CURRENT URL')
  // 목록으로 가는 로직 

  $('#toList').click((e) => {
    console.log('클릭!')
    console.log($(e.target),'타겟');
		if(preUrl.includes(URL.split('/').slice(0,3).join('/'))) {
      location.href = preUrl
		} else {
			location.href = URL.split('/').slice(0,3).join('/')
		}
  })
	}
  
	
	window.onload = initHistoryBack()
}
</script>