{% include "/hynixNewsRoom/codeFiles/css/common/reset.css" %}
{% include "/hynixNewsRoom/codeFiles/css/common/common.css" %}
{% include "/hynixNewsRoom/codeFiles/css/module/module_wrap.css" %}

/* notice */
.notice_banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  padding: 30px 0;
  background-color: #4747b3;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  z-index: 99999;
}

.notice_banner a{
  color: #ffff99;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  white-space: nowrap;
}

p.notice{
  margin-bottom: 0;
  line-height: 1.5;
}

.notice a:hover{
  color: #ffff99;
}

.notice_banner .noticeinner{
  position: relative;
  max-width: 1360px;
  padding: 0 60px 0 40px;
  margin: 0 auto;
}

.notice_banner{
  word-wrap: break-word;
}

.btnclose{
  display: block;
  position: absolute;
  right: 30px;
  top: 50%;
  transform:translateY(-50%);
  width: 30px;
  height: 30px;
  font-size: 0;
}

header.gnbHeader {
    background: #fff;
    border-bottom: 1px solid rgba(208,209,214,0.5);
    position: fixed;
}

.gnbHeader .inner {
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 77px
}

.gnbHeader.d-search-on .skh-logo,.gnbHeader.d-search-on .gnb-menuWrap {
    display: none
}

.lang {
    width: 32px;
    position: relative;
    margin-left: 16px;
    margin-top: -2px
}

.lang ul {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99
}

.lang:hover {
    cursor: pointer
}

.lang ul li a:hover,
.m-lang ul li a:hover{
    color: #000;
    font-weight: 600;
}

.lang ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 39px;
    border: solid 1px #dedede;
    background-color: #fff;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #8f9094;
    text-decoration: none
}

.lang ul li+li a {
    border-top: 0
}

.lang ul li.active a,.lang ul a:hover {
    font-weight: 600;
    color: #000
}

.skh-logo {
    width: 56vw;
    height: 62px;
    margin-bottom: 11px;
    max-width: 213px;
    display: flex;
    align-items: flex-end
}

.skh-logo img {
    width: 100%
}

.gnb-menuWrap {
    width: 35%;
    min-width: 460px;
    margin-left: calc(5% - 26px);
    margin-bottom: 24px
}

.gnb-subMenuWrap {
    display: none;
    position: absolute;
    top: 76px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 286px;
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
    z-index: 99;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.gnb-subMenuWrap a{
  text-decoration: none;
}

.gnb-menuWrap:hover .gnb-subMenuWrap {
    display: block;
}

.gnb-subMenuWrap .innerWrap {
    margin: 0 auto;
    max-width: 1580px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden
}

.gnb-subMenuWrap .col-l {
    display: flex;
    width: 80%
}

.gnb-subMenuWrap .col-l dl {
    border-left: solid 1px rgba(0,0,0,0.1);
    padding-top: 35px;
    padding-left: 20px;
    width: 16.7%;
    height: 100%;
    box-sizing: border-box
}

.gnb-subMenuWrap .col-l dt {
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    margin-bottom: 19px;
    text-decoration: none;
    display: block
}

.gnb-subMenuWrap .col-l dt a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under
}

.gnb-subMenuWrap .col-l .dt-t a {
    color: #4747b3;
}

.gnb-subMenuWrap .col-l .dt-s a {
    color: #0072c6;
}

.gnb-subMenuWrap .col-l .dt-c a {
    color: #009a93;
}

.gnb-subMenuWrap .col-l .dt-p a {
    color: #000
}

.gnb-subMenuWrap .col-l .dt-b a {
    color: #6d7278
}

.gnb-subMenuWrap .col-l dd a {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.12;
    letter-spacing: normal;
    color: #757575;
    text-decoration: none
}

.gnb-subMenuWrap .col-l dd a:hover {
    color: #000;
    text-decoration: underline;
    text-underline-position: under
}

.gnb-subMenuWrap .col-r {
    display: flex;
    align-items: center
}

.gnb-subMenuWrap .col-r .gnb-thumb {
    width: 253px;
    height: 148px;
    top: -30px;
    position: relative;
    overflow: hidden;
    margin-right: 40px;
    background: red
}

.gnb-subMenuWrap .col-r .gnb-thumb img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0
}

.gnb-subMenuWrap .col-r .gnb-thumb .textWrap {
    position: absolute;
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 30px;
    width: 100%;
    height: 100%;
    box-sizing: border-box
}

.gnb-subMenuWrap .col-r .gnb-thumb .textWrap span {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #ffcf99;
    margin-bottom: 4px
}

.gnb-subMenuWrap .col-r .gnb-thumb .textWrap h5 {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #fff
}

.gnb-subMenuWrap .col-r .gnb-thumb .textWrap a {
    position: absolute;
    left: 30px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.3);
    width: 48px;
    height: 48px
}

.gnb-right-con {
    float: right;
    width: 25%;
    min-width: 246px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto
}

.gnb-menu {
    display: flex;
    justify-content: space-between
}

.gnb-menu .menu-divider {
    position: relative
}

.gnb-menu li {
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex: 1 0 auto
}

.gnb-menu .menu-divider {
    border-left: 1px solid #b0b1b5;
    box-sizing: border-box
}

.gnb-menu a {
    display: block;
    margin-bottom: -14px;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #1e1e1e;
    text-decoration: none;
    padding-bottom: 41px;
    border-bottom: 4px solid transparent
}

.gnb-menu li.active a,.gnb-menu li:hover a {
    font-weight: 600
}

.gnb-menu li.active:nth-child(1) a,.gnb-menu li.active:nth-child(2) a,.gnb-menu li.active:nth-child(3) a,.gnb-menu li:hover:nth-child(1) a,.gnb-menu li:hover:nth-child(2) a,.gnb-menu li:hover:nth-child(3) a {
    border-color: #ff6600; 
}

.gnb-menu li.active:nth-last-child(1) a,.gnb-menu li.active:nth-last-child(2) a,.gnb-menu li:hover:nth-last-child(1) a,.gnb-menu li:hover:nth-last-child(2) a {
    border-color: rgba(0,0,0,0.85); 
}

.gnb-searchWrap {
    position: relative;
    width: 100%;
    margin-bottom: -1px;
    height: 47px
}

.gnb-searchWrap .gnb-search-icon {
    position: absolute;
    width: 32px;
    right: 0;
    top: -1px
}

.gnb-searchWrap .gnb-search-input {
    width: 100%;
    height: 100%;
    border: 0;
    border-bottom: 2px solid #2f3034;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    box-sizing: border-box;
    padding-bottom: 16px;
    padding-right: 32px
}

.gnb-searchWrap .gnb-search-input::placeholder {
    color: #8f9094
}

.gnb-searchTit,.gnb-searchClose,.flexWrap,.gnbHeader.d-search-on .lang {
    display: none
}

.gnbHeader.d-search-on .gnb-searchTit,.gnbHeader.d-search-on .gnb-searchClose,.gnbHeader.d-search-on .flexWrap {
    display: block
}

.gnbHeader.d-search-on {
    background: #000
}

.gnbHeader.d-search-on .gnb-searchTit {
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #fff;
    margin-bottom: 22px
}

.gnbHeader.d-search-on .gnb-searchWrap .gnb-search-input {
    background: transparent;
    color: #fff;
    border-bottom-color: #fff
}

.gnbHeader.d-search-on .gnb-search-icon g {
    fill: #fff
}

.gnb-searchClose {
    position: relative;
    margin-left: 16px;
/*     margin-bottom: 4px; */
    width: 32px;
    height: 32px;
	/* 211010 css 추가 */
	  margin-top: 2px;
			
}

.gnb-searchClose a {
    position: absolute;
    top: -4px
}

.gnb-searchClose:hover g {
    fill: #f60
}

.gnbHeader.d-search-on .gnb-right-con {
    position: relative
}

.gnbHeader .radioWrap {
    display: none;
    align-items: center;
    position: absolute;
    top: 3px;
    left: -330px;
    display: flex
}

.gnbHeader.d-search-on .radioWrap {
    display: flex
}

.gnbHeader .radioWrap label {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(255,255,255,0.7);
    margin-left: 22px
}

.gnbHeader .radioWrap label:first-child {
    margin-left: 0
}

.gnbHeader .radioWrap i {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 13px;
    margin-top: -4px;
    background: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/gnb-radio-big-normal.svg) center no-repeat;
}

.gnbHeader .radioWrap input {
    display: none
}

.gnbHeader .radioWrap input:checked+i {
    background: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/gnb-radio-big-select.svg) center no-repeat;
}

.gnb-hamburger {
    margin-top: -3px;
    margin-left: 12px
}

.gnb-hamburger.d-mobile,.gnbHeader.d-search-on .gnb-hamburger {
    display: none
}

.gnb-menuWrap-mobile {
    display: none
}

.gnb-menuWrap-mobile {
    position: fixed;
    background-color: rgba(0,0,0,0.85);
    height: calc(100vh - 40px);
    width: 100%;
    z-index: 98
}

.gnb-menuWrap-mobile .inner {
    padding-top: 32px
}

.gnb-menuWrap-mobile dl {
    border-bottom: solid 1px rgba(255,255,255,0.25);
/*     display: flex; */
}

.gnb-menuWrap-mobile .dt-t, .gnb-menuWrap-mobile .dt-p, .gnb-menuWrap-mobile .dt-b {
    position: relative;
    display: block;
    padding: 18px 24px;
    opacity: .7;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #fff!important;
    text-decoration: none;
    width: 60%;
}

.dt-t-svg, .dt-p-svg, .dt-b-svg {
    width: 100%;
    position: relative;
    display: block;
    opacity: .7;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #fff!important;
    text-decoration: none;
    top: -70px;
}

.gnb-menuWrap-mobile .dt-s a, .gnb-menuWrap-mobile .dt-c a{
    position: relative;
    display: block;
    padding: 18px 24px;
    opacity: .7;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #fff!important;
    text-decoration: none;
}


.gnb-menuWrap-mobile .dt-t a, .gnb-menuWrap-mobile .dt-p a, .gnb-menuWrap-mobile .dt-b a {
    width: 32px;
    height: 32px;
    position: relative;
    display: block;
    padding: 18px 24px;
    opacity: .7;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #fff!important;
    text-decoration: none;
}
}

.gnb-menuWrap-mobile dl div.open .nav-down {
    opacity: 1
};
.nav-down {
    display: none
};
.gnb-menuWrap-mobile dl div.open a::after {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/icon-outlined-32-px-minus.svg)
}

.gnb-menuWrap-mobile dl div.open ~ dd a {
    display: block
}

.gnb-menuWrap-mobile dd a {
    display: none;
    padding: 0 24px;
    margin-left: 30px;
    opacity: .7;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.2;
    letter-spacing: normal;
    color: #fff;
    text-decoration: none
}

.gnb-menuWrap-mobile dl div.open ~ dd:last-child {
    margin-bottom: 20px
}

.m-lang {
    position: absolute;
    left: 24px;
    bottom: 24px
}

.m-lang a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 40px;
    background-color: #4d4e52;
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: #fff;
    text-decoration: none
}

.m-lang a svg {
    margin-right: 7px;
    margin-left: -6px
}

.m-lang ul {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0
}

.m-lang ul.on {
    display: block
}

.m-lang ul li a {
    width: 123px;
    height: 39px;
    padding: 7px 11px 8px 11px;
    box-sizing: border-box;
    justify-content: flex-start;
    border: solid 1px #dedede;
    background-color: #fff;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #8f9094
}

.m-lang ul li+li a {
    border-top: 0
}

.m-lang ul li.active a {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: normal;
    color: #000
}

.gnbHeaderDim {
    display: none;
    background: rgba(0,0,0,0.8);
    width: 100vw;
    height: calc(100vh - 84px);
    position: fixed;
    top: 84px;
    z-index: 9999
}

.gnbHeaderDim.d-search-on {
    display: none
}

.gnbHeaderDim ul.searchTagWrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 12px;
    padding-top: 40px;
    margin-bottom: 60px
}

.gnbHeaderDim ul.searchTagWrap li a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    box-sizing: border-box;
    height: 40px;
    margin-right: 12px;
    padding: 0 14px;
    margin-bottom: 12px;
    border-radius: 30px;
    background-color: #4747b3;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: rgba(255,255,255,0.87);
    text-decoration: none
}

.gnbHeaderDim ul.searchTagWrap li:last-child a {
    margin-right: 0
}

.gnbHeaderDim ul.searchTagWrap li a:hover {
    background-color: #f60
}

.gnbHeaderDim ul.quickView-list {
    max-width: 768px;
    margin: 0 auto
}

.gnbHeaderDim ul.quickView-list li {
    padding: 26px;
    border-bottom: 1px solid rgba(255,255,255,0.5)
}

.gnbHeaderDim ul.quickView-list li a {
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box
}

.gnbHeaderDim ul.quickView-list li a:hover {
    color: #ff6600; 
    text-decoration: underline;
    text-underline-position: under
}

.gnbHeaderDim .quickView-card {
    max-width: 768px;
    margin: 0 auto;
    margin-top: -10px
}

.gnbHeaderDim .quickView-card li {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid rgba(255,255,255,0.5)
}

.gnbHeaderDim .quickView-card li>div {
    width: 47%
}

.gnbHeaderDim .quickView-card .imgWrap {
    margin-bottom: 20px
}

.gnbHeaderDim .quickView-card a {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box
}


/* 10월 05일 test */
.gnb-menuWrap-mobile dl div a::after { content: ''; display: block; position: absolute; right: 24px; top: 18px; width: 32px; height: 32px; background: url({{get_asset_url('/hynixNewsRoom/codeFiles/images/icons/icon-outlined-32-px-plus.svg')}}) center no-repeat; } 



.gnb-menuWrap-mobile dl div.open.open a::after { background-image: url({{get_asset_url('/hynixNewsRoom/codeFiles/images/icons/icon-outlined-32-px-minus.svg')}}); } 

.gnbHeaderDim .quickView-card .imgWrap::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/icon-more-plus.svg) center/28px 28px no-repeat,rgba(0,0,0,0.65);
    z-index: 2;
    opacity: 0;
    transition: linear .3s
}

.gnbHeaderDim .quickView-card .imgWrap:hover::before {
    opacity: 1;
    transform: scale(1.45)
}

.gnbHeaderDim a.card-more {
    margin-top: 60px
}

.footer {
    background: #1e1e1e;
    padding: 60px 0 60px
}

.footer .inner {
    padding: 0 24px;
    position: relative
}

.footer .gnb-searchWrap {
    max-width: 328px;
    float: right;
    margin-top: 3px;
    z-index: 1
}

.footer .gnb-search-input {
    color: #f8f8f9;
    background: transparent;
    border-bottom-color: #d0d1d6
}

.footer .gnb-searchWrap .gnb-search-icon g {
    fill: #d0d1d6
}

.footer-menuWrap {
    position: relative
}

.footer-menuWrap::before {
    content: '';
    display: block;
    position: absolute;
    top: 50px;
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.25)
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    width: 46%;
    min-width: 530px;
    max-width: 665px;
    justify-content: space-between
}

.footer-menu dt {
    margin-bottom: 50px
}

.footer-menu dt a {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #eaeaed;
    text-decoration: none
}

.footer-menu dt a:hover {
    text-decoration: underline;
    text-underline-position: under;
    color: #fff
}

.footer-menu dd a {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #8d8d8d;
    text-decoration: none
}

.footer-menu dd a:hover {
    text-decoration: underline;
    text-underline-position: under;
    color: #fff
}

.footer-logo {
    margin-top: 70px;
    display: inline-block;
    color: transparent
}

.footer-logo img {
    width: 316px;
    height: 71px;
    object-fit: contain;
    margin-right: 4px;
}

.footer-menuEtc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 60%;
    min-width: 380px;
    float: right;
    margin-top: -116px;
    z-index: 1;
    position: relative
}

.footer-menuEtc>li a {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #bbb;
    text-decoration: none
}

.footer-menuEtc>li a:hover {
    text-decoration: underline;
    text-underline-position: under;
    color: #fff
}

.footer .lang {
    width: 32px;
    position: relative;
    margin-left: unset;
    margin-top: unset
}

.footer .lang ul {
    display: none;
    position: absolute;
    top: 0;
    right: 0
}

.footer .lang ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 39px;
    border: solid 1px #dedede;
    background-color: #fff;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #8f9094;
    text-decoration: none
}

.footer .lang ul li+li a {
    border-top: 0
}

.footer .lang ul li.active a,.footer .lang ul a:hover {
    font-weight: 600;
    color: #000
}

/* header icon */
.header-sns {
    display: flex;
    float: right;
}

.header-sns li+li::before {
    content: '';
    display: none;
    width: 4px;
    height: 4px;
    margin: 0 4px 2px 7px;
    background-color: #d8d8d8;
    border-radius: 50%
}

.header-sns i {
    display: block;
    background-position: center;
    background-size: 183%;
    width: 39px;
    height: 39px;
    margin-bottom: -5px;
    margin-left: 8px;
}


/* footer icon */

.footer-sns {
    display: flex;
    float: right;
    margin-top: 100px
}

.footer-sns li+li::before {
    content: '';
    display: none;
    width: 4px;
    height: 4px;
    margin: 0 4px 2px 7px;
    background-color: #d8d8d8;
    border-radius: 50%
}

.footer-sns a {
    font-size: 12px;
    line-height: 1.5;
    color: #8f9094;
    text-decoration: none;
    margin-left: 11px;
}

.footer-sns a:hover {
    text-decoration: unset;
    color: #fff
}

.footer-sns i {
    display: inline-block;
    background-position: center;
    background-size: cover;
    width: 34px;
    height: 34px;
    margin-bottom: -5px
}

.ic-sns-url {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/sns-urlO2x.png)
}

/* header icon */
.header-f {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/defaultImage/group-5.svg)
}

.header-u {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/defaultImage/group-4.svg)
}

.header-i {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/defaultImage/group-3.svg)
}

.header-g {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/defaultImage/group-2O2x.jpg)
}

.header-ch {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/defaultImage/groupO2x.jpg)
}


/* 해더반응형 */
.header-mf {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/defaultImage/mobil_f.png)
}

.header-mu {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/defaultImage/mobil_u.png)
}

.header-mi {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/defaultImage/mobil_i.png)
}

.header-mg {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/defaultImage/mobil_g.png)
}

.header-mch {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/defaultImage/mobil_ch.png)
}




/* footer icon */
.ic-sns-f {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/ic-sns-f.png)
}

.ic-sns-g {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/ic-sns-g.png)
}

.ic-sns-y {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/ic-sns-y.png)
}

.ic-sns-t {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/ic-sns-t.svg)
}

.ic-sns-ch {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/ic-sns-ch.png)
}

.ic-sns-i {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/ic-sns-i.png)
}

.header-bottomWrap {
    position: absolute;
    bottom: 30px;
}
/*수정*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
  .gnb-subMenuWrap .col-r {
    display : flex;
    flex-direction : column;
    justify-content:center;
  }
  .header-sns {
    display : flex;
  }
  .header-bottomWrap {
    position: static;
    bottom: 0px;
  }
  .gnb-thumb {
    margin-right : 0px;
  }
}

.footer-bottomWrap {
    position: absolute;
    width: 50%;
    bottom: 5px;
    right: 24px
}

.media-instruction{
    margin-top: 40px;
}

@media screen and (max-width:1400px) {
  .footer-menuEtc{
    max-width: 80%;
  }
  .footer-globeIconBox .lang {
    display : none;
  }
  
  .media-instruction{
    margin-top: 0;
  }
}

@media screen and (max-width: 1200px) {
  
    html #summary {
      background-color: #f6f6f6;     
      padding: 30px 24px 30px 42px;     
      font-size: 18px;     
      font-weight: 600;     
      line-height: 1.5;
    } 
    html #summary ul {
      list-style: disc!important;
    }
    html #summary ul li {
      padding: 0px 0px 15px 0px;
    }
    html #summary ul li:last-child {
      padding: 0px 0px 0px 0px;
    }
  
    .gnb-subMenuWrap .col-r {
        display:none
    }

    .gnb-subMenuWrap .col-l dl {
        width: 20%
    }

    .gnb-hamburger.d-mobile {
        display: none
    }
  
    .footer-menuEtc{
        max-width: 80%;
    }
  

}

@media screen and (max-width: 1023px) {
  
    html #summary {
      background-color: #f6f6f6;     
      padding: 30px 24px 30px 42px;     
      font-size: 18px;     
      font-weight: 600;     
      line-height: 1.5;
    } 
    html #summary ul {
      list-style: disc!important;
    }
    html #summary ul li {
      padding: 0px 0px 15px 0px;
    }
    html #summary ul li:last-child {
      padding: 0px 0px 0px 0px;
    }
  
    .gnb-hamburger.d-mobile {
        display:block
    }

    .gnb-menuWrap {
        display: none
    }

    .gnb-searchWrap .gnb-search-input {
        opacity: 0
    }

    .gnbHeader.d-search-on .gnb-searchWrap .gnb-search-input {
        opacity: 1
    }

    .gnb-right-con {
        min-width: 318px
    }

    .gnbHeader .radioWrap {
        left: -300px
    }
  
    .input-searchWrap input{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 830px) {

    .gnbHeader.d-search-on .radioWrap{
      display: none;
    }
}

@media screen and (max-width: 768px) {
    html #summary {
      background-color: #f6f6f6;     
      padding: 30px 24px 30px 42px;     
      font-size: 18px;     
      font-weight: 600;     
      line-height: 1.5;
    } 
    html #summary ul {
      list-style: disc!important;
    }
    html #summary ul li {
      padding: 0px 0px 15px 0px;
    }
    html #summary ul li:last-child {
      padding: 0px 0px 0px 0px;
    }
  
    .mobile-sc{
      display: none;

    }
  
   .sr0Tap .list-conWrap-top{
     display: none;
   }
}

@media screen and (max-width: 768px) {
    html #summary {
      background-color: #f6f6f6;     
      padding: 30px 24px 30px 42px;     
      font-size: 18px;     
      font-weight: 600;     
      line-height: 1.5;
    } 
    html #summary ul {
      list-style: disc!important;
    }
    html #summary ul li {
      padding: 0px 0px 15px 0px;
    }
    html #summary ul li:last-child {
      padding: 0px 0px 0px 0px;
    }
    
    .gnbHeader .inner{
      padding: 0 12px;
      height: 73px;
    }
    .gnb-hamburger{
      margin-left: 10px
    }
  
    .gnb-searchWrap {
        width:100%
    }

    .gnb-right-con {
        min-width: auto;
/*         margin-left: 56px; */
    }

    .gnbHeader.d-search-on .flexWrap,.gnbHeader.d-search-on .gnb-searchTit {
        display: none
    }

    .gnbHeader.d-search-on .gnb-right-con {
        width: 100%
    }

    .gnbHeader.d-search-on .gnb-searchWrap .gnb-search-input {
        border-bottom-color: rgba(255,255,255,0.5)
    }

    .gnbHeader .radioWrap {
        left: 0;
        top: 91px
    }

    .gnbHeaderDim ul.searchTagWrap {
        padding: 0 24px;
        padding-top: 104px;
        justify-content: flex-start
    }

    .gnbHeader .radioWrap {
        opacity: 0
    }
  
    .col-r {  
        min-height: 297px;
    }
  
    .selectWrap {
        display: block!important;
    }
  
    .media-category .list-conWrap-top .inner{
        padding-top: 15px!important;
    }
}

@media screen and (max-width: 1023px) {
    html #summary {
       background-color: #f6f6f6;     
       padding: 30px 24px 30px 42px;     
       font-size: 18px;     
       font-weight: 600;     
       line-height: 1.5;
     } 
     html #summary ul {
       list-style: disc!important;
     }
     html #summary ul li {
       padding: 0px 0px 15px 0px;
     }
     html #summary ul li:last-child {
       padding: 0px 0px 0px 0px;
     }
  
  
    .footer .inner {
        padding:0 50px
    }

    .footer .gnb-searchWrap {
        max-width: 432px;
        float: initial;
        margin: 0 auto;
        margin-bottom: 64px
    }

    .footer-logo {
        display: block;
        text-align: center
    }

    .footer-menu {
        width: 100%;
        min-width: initial;
        max-width: initial;
        justify-content: space-between
    }

    .footer-menuWrap::before {
        width: 100vw;
        margin-left: -50px
    }

    .footer-menuEtc {
        float: initial;
        margin: 0 auto;
        margin-top: unset;
        margin-top: 60px;
        width: 100%;
        max-width: 470px;
        min-width: 414px
    }

    .footer .lang {
        display: block;
    }

    .footer-sns {
        float: initial;
        justify-content: center;
        margin: 0 auto;
        margin-top: 24px
    }
}

@media screen and (max-width: 768px) {
    html #summary {
      background-color: #f6f6f6;     
      padding: 30px 24px 30px 42px;     
      font-size: 18px;     
      font-weight: 600;     
      line-height: 1.5;
    } 
    html #summary ul {
      list-style: disc!important;
    }
    html #summary ul li {
      padding: 0px 0px 15px 0px;
    }
    html #summary ul li:last-child {
      padding: 0px 0px 0px 0px;
    }
    .lang {
      margin-left: 10px;
    }
  
  
    .footer {
        padding-top:70px
    }

    .footer .inner {
        padding: 0 24px
    }

    .footer .gnb-searchWrap {
        max-width: 100%
    }

    .footer-menuWrap::before {
        margin-left: -24px
    }

    .footer-menu dl {
        flex: 1 0 33%;
        position: relative;
        margin-bottom: 53px
    }

    .footer-menu dl:nth-child(3) {
        flex: 0 0 auto
    }

    .footer-menu dl:nth-child(4)::before {
        content: '';
        display: block;
        position: absolute;
        top: 50px;
        width: 100vw;
        margin-left: -24px;
        height: 1px;
        background: rgba(255,255,255,0.25)
    }

    .footer-sns a span {
        display: none
    }

    .footer-menuEtc {
        min-width: unset
    }
  
}

@media screen and (max-width: 1023px) {
    html #summary {
       background-color: #f6f6f6;     
       padding: 30px 24px 30px 42px;     
       font-size: 18px;     
       font-weight: 600;     
       line-height: 1.5;
     } 
     html #summary ul {
       list-style: disc!important;
     }
     html #summary ul li {
       padding: 0px 0px 15px 0px;
     }
     html #summary ul li:last-child {
       padding: 0px 0px 0px 0px;
     }
  
   
    header.gnbHeader {
    position : fixed;
    top : 0;
    left : 0;
    width: 100%;
    z-index:999;
    transition: top 0.2s ease-in-out;
  }
  
  .footer-bottomWrap {
    position:static;
    width: 100%
  }

  .home-keyContents .keyCon-t {
    overflow: hidden
  }
}

@media screen and (max-width:425px) {
   html #summary {
    background-color: #f6f6f6;     
    padding: 30px 24px 30px 42px;     
    font-size: 18px;     
    font-weight: 600;     
    line-height: 1.5;
  } 
  html #summary ul {
    list-style: disc!important;
  }
  html #summary ul li {
    padding: 0px 0px 15px 0px;
  }
  html #summary ul li:last-child {
    padding: 0px 0px 0px 0px;
  }
  
  
  .footer-menuEtc>li a{
    font-size: 12px;
  }
  
  .mheader-bottomWrap {
    position: relative;
    width: 100%;
    top: 136px;
    padding: 0px;
    /* text-align: center; */
    /* justify-content: center; */
    display: flex;
  }
  
  /* header icon */
  .mheader-sns {
      display: flex;
      float: left;
    margin: 0 auto;
  }
  
  .mheader-sns li+li::before {
      content: '';
      display: none;
      width: 4px;
      height: 4px;
      margin: 0 4px 2px 7px;
      background-color: #d8d8d8;
      border-radius: 50%
  }
  
  .mheader-sns i {
      display: block;
      background-position: center;
      background-size: 100%;
      width: 39px;
      height: 39px;
      margin-bottom: -5px;
      margin-left: 8px;
  }

}

@media screen and (max-width:322px) {
	.footer-menu dl {
		flex: 1 0 auto;
/* 		position: relative;
		margin-bottom: 53px */
	}
	.footer-logo img {
		width: 100%;
	}
	
}

@media screen and (max-width: 280px) {
  .lang {
    margin-left: 0px;
  }
  
  .gnb-hamburger {
      margin-left: 0px;
  }
  
  .gnb-searchClose {
      margin-left: 0px;
  }
  
  .footer-menu dt a {
      font-size: 14px;
  }
  
  .footer-menu dd a {
      font-size: 12px;
  }
}
/* @media screen and (max-width:421px) {
  section.list-contentsWrap .list-banner-module{
    width: 100%;
    margin-left: 0;
  }
  
  section.list-contentsWrap .list-banner-module h1{
    font-size: 22px;
  }
} */



/* 1003 수정 */
@media screen and (min-width:1023px) {
  
  .gnbHeader {
    position: fixed;
    top : 0;
    left : 0;
    width: 100%;
    height: 76px;
    z-index:99999999;
    background: #f5b335;
    transition: top 0.2s ease-in-out;
  }

  .nav-up {
    top: - 76px;
    box-shadow: 1px 2px 3px rgb(0 0 0 / 9%);
  } 
  
  .nav-down {

    box-shadow: 1px 2px 3px rgb(0 0 0 / 9%);
  }

} 






/* 1005 조성우 추가 프레스룸 본문내 하이라이트 기사 CSS */
html #summary {
  background-color: #f6f6f6;
    padding: 20px 20px 6px 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 30px;
}

html #summary h3{
margin-bottom: 16px;
}

html #summary ul {
  list-style: disc!important;
}
html #summary ul li {
  padding: 0px 0px 15px 0px;
}
html #summary ul li:last-child {
  padding: 0px 0px 0px 0px;
}
/* 1005 조성우 추가 프레스룸 본문내 하이라이트 기사 CSS */


 
/* @media (prefers-color-scheme: light) {
  body {
    background: white;
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  // 어두운 테마를 선택했을 경우 override할 CSS
  body {
    background: black;
    color: white;
  }
} */
