@import "mixin";

// color
$gray : #777;
$sub : #ccc;
$black : #000;
$white : #fff;
$cherry : #b70202;
$yellow : #f9e000;


// reset
html,
body,
a,
p,
span,
ul,
ol,
li,
dl,
dt,
dd {
    @include reset;
}

* {
    @include boxsizing;
}

// style
.hide {
    display: none;
}

.active {
    @include hover;
}

//////////////////////// header nav
header {
    padding: 10px;
    text-align: center;
    background: $white;

    h1 {
        font-size: 4rem;
        padding: 12px;
    }

    p {
        font-size: 1.6rem;
        padding: 12px;
    }
}

nav {
    overflow: hidden;
    background: $cherry;
    display: flex;

    div {
        padding: 12px;
        flex: 1;
        text-align: center;
        border: 1px solid #000;

        a {
            color: $white;
            font-size: 1.6rem;
            transition: 0.5s;
            margin-bottom: 10px;

            &:hover {
                @include hover;
            }
        }
    }
}

dl {
    width: 100%;
    height: 100%;

    dd {
        cursor: pointer;
        color: $sub;
        font-size: 1.4rem;
        padding: 10px 0;

        &:hover {
            @include hover;
        }

        &:nth-child(1) {
            padding-top: 20px;
        }
    }
}


//////////////////////// 컨텐츠
ol{
    width: 100%;
    padding: 20px 0 0;
    li{
        padding: 5px 0;
    }
}

.contents {
    font-size: 1.6rem;
    width: 100%;
    display: flex;

    .card{
        margin: 17px 0;
    }



    .fakeimg {
        background-color: #aaa;
        height: auto;
    }

    img {
        border-radius: 4px;
        border: 1px solid #000;
        box-shadow: 1px 1px 5px #777;
        display: block;
        margin: 0 auto;
        cursor: pointer;
    }

    section {
        flex: 7.5;
        padding: 0 20px 20px;
        text-align: center;

        h2{
            font-size: 4rem;
        }

        .card {
            a {
                display: block;
                font-size: 1.6rem;
                transition: .5s;
                &:last-child {
                    padding: 15px 0px;
                }
                &:hover {
                    color: $cherry;
                    text-decoration: underline;
                    text-underline-position: under;
                }
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

    aside {
        flex: 2.5;
        background-color: #eee;
        padding: 0 20px;
        white-space: normal;
        box-shadow: -1px 0px 1px #000;

        h2 {
            white-space: nowrap;
            text-align: center;
        }

        img {
            width: 155px;
            cursor: pointer;
        }

        .giftwrap {
            text-align: center;
            font-size: 1.6rem;
            margin-top: 15px;
        }

        .gift {
            display: flex;
            justify-content: space-evenly;
            margin-top: 20px;
            a {
                padding: 0!important;
            }
            
            img {
                cursor: pointer;
                margin: 10px;
                width: 50px;
            }
        }

        .card p a {
            display: block;
            font-size: 1.6rem;
            text-align: center;
            padding: 15px 10px;
            transition: .5s;

            &:hover {
                color: $cherry;
                text-decoration: underline;
                text-underline-position: under;
            }
        }
    }
}




//////////////////////// 하단 footer
footer {
    padding: 50px 10px;
    text-align: center;
    background: white;
    border-top: 1px solid #000;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;

    p,
    a {
        font-size: 1.6rem;
        font-weight: bold;
        padding: 5px;

        .link {
            transition: .5s;
            color: #999;
            text-decoration: underline;
            text-underline-position: under;

            &:hover {
                color: $cherry;
                font-weight: bold;
            }
        }
    }
}



figure {
    margin: 0;
    display: flex;

    figcaption {
        cursor: pointer;
        padding: 5px;
        font-size: 1.4rem;
        transition: .5s;

        &:hover {
            color: $cherry;
            font-weight: bold;
        }
    }
}