.subscribe_section {
    display: block;
    padding: 60px;
    max-width: 829px;
    margin: 0 auto;
    background: #f8f8f9 url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/contentImage/error_bgO2x.png) center/cover no-repeat;
    border-radius: 15px;
}


/* .hs-richtext hr{
  width:100%;
} */