.press-contents-full div ul.list-main-contents li.blog-hidden {display: none;}
.loading-container {
	width: 100%;
	display: none;
	flex-direction: column;
/* 	justify-content: center; */
	align-items: center;
}
.loading-gif {
	width: 115px;
  height: 86px;
  margin: 0 0.5px 23px 0;
  padding: 6px 10px 4px 17px;
}
.searching {
	width: 98px;
  height: 27px;
	font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #8f9094;
	text-align: center;
  margin-left: 11px;
}

.noSearchContainer {
	width: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.noSearchImg {
	display: inline-block;
	width: 85.9px;
/*   height: 96.2px; */
}
.noSearchTitle {
  margin-top: 45.8px;
  font-family: NotoSansCJKkr;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.noSearchDesc {
  margin: 10px 0 0;
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}
.noSearchBtn {
	width: 163px;
  height: 58px;
  margin-top: 47px;
/*   padding: 18px 10.3px 18px 8.7px; */
  background-color: #2f3034;
  display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
	outline: none;
	cursor: pointer;
	text-decoration: none;
}

.hs-search-highlight.hs-highlight-title,
.hs-search-highlight.hs-highlight-html {
	color: #FF7A00;
}


