/* .hs_cos_wrapper_type_form{
    max-width: 535px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 25px;
    box-sizing: border-box;
}

/* .conWrap h3{
    margin-top: 40px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #4d4e52;
    max-width: 535px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 25px;
    box-sizing: border-box;
} */

/* 얼론인 */
/* 메일수신주기 */
label[data-reactid=".hbspt-forms-1.1:$0.1:$subscribe_noti_cycle.0"]{
  display: none;
}
/* 이름 */
label[data-reactid=".hbspt-forms-1.1:$1.1:$firstname.0"]{
  display: none;
}
/* 이메일 */
label[data-reactid=".hbspt-forms-1.1:$1.1:$email.0"]{
  display: none;
} 


/* 일빈인 */
/* 이름 */
label[data-reactid=".hbspt-forms-0.1:$0.1:$firstname.0"]{
  display: none;
}
/* 이메일 */
label[data-reactid=".hbspt-forms-0.1:$0.1:$email.0"]{
  display: none;
}
section.subscrip_module .form-columns-0 {
  max-width:unset;
}

/* 1002 EBOKE UPDATe */
section.subscrip_module .hs-form-field label {display:none;}
section.subscrip_module .hs-form-field .inputs-list label {display:block;}





.hs_cos_wrapper_type_form .inputs-list .multi-container{
  display: flex;
  margin-bottom: 20px;
}

.hs-main-font-element p{
  color: #b0b1b5;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #b0b1b5;
  /* margin-right: 5px; */
}

.hs-main-font-element span{
  color: #b0b1b5;
}
.hs-main-font-element p a{
  color: #b0b1b5;
}

.input ul{
  display: flex;
  margin-bottom: 20px;
}

.input ul li{
  margin-right: 15px;
}

.hs-input#firstname-5951a21e-7c3f-4b6f-937f-b0c3e39eebb3_3324{
    height: 36px;
    padding: 6px 9px 8px 11px;
    border: solid 1px #68696e;
    background-color: #68696e;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: normal;
    box-sizing: border-box;
    border: 0;
    border-radius: 0;
    color: #b0b1b5;
}

.hs-button{
    position: absolute;
    width: auto;
    min-width: 110px;
    height: 36px;
    background-color: #4d4e52;
    box-sizing: border-box;
    padding: 0 25px;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-left: 6px;
}

.subscrip_module2{
    display: none;
}

.public, .reporter{
    cursor: pointer;
}

@media screen and (max-width:767px){
section.subscrip_module {
    margin-top: 10px;
  }
  section.press_sub {
    padding : 0px !important;
  }
}





