<section class="container bottom_module">
    <div class="inner">
      <div class="tagbox">
        <ul>
          <li>
            {% for topic in content.topic_list %}
            {% if topic != '' && topic != 'blog-기술' && topic != 'blog-사람-문화' && topic != 'blog-지속가능경영'%}
            <a href='/post/tag/{{topic.name}}/page/1?type=tag&text={{topic.name}}' class='topicText topicText{{loop.index}}' rel='tag'>{{topic.name}}</a>
            {% else %}
            {% endif%}
            {% endfor %}
          </li>
        </ul>
      </div>         
        <div class="bottom_con">
            <hr>
            <div class="inner2">
                <a id="toList" class="toList">
                    돌아가기
                </a>
                <aside class="share-area">
                    <div class="share-list">
                      <div class="Rectangle-Copy2">
                        <ul class="sns">
                            <li class="snsin"><a target='_blank' title="snsin">linkedin</a></li>
                            <li class="snsmail"><a title="snsmail">Naver</a></li>
                            <li class="snsclose2"><a title="snsclose2">snsclose2</a></li>
                        </ul>
                      </div>
                        <ul id='sns2' class="sns">
                            <li class="url"><a title="url">url</a></li>
                            <li class="fb"><a target='_blank' href="https://www.facebook.com/sharer/sharer.php?u={{ content.absolute_url|urlencode }}" title="facebook" title="facebook">Facebook</a></li>
                            <li class="tw"><a target='_blank' title="Twitter">Twitter</a></li>
                            <li class="nv"><a target='_blank' title="Naver">Naver</a></li>
                            <li class="more2"><a title="more2">more2</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>


<script type='text/babel'>
{
  
    // 링크드인
  $('#sns .snsin a').attr('href', `http://www.linkedin.com/shareArticle?mini=true&url=${encodeURIComponent(window.location.href)}&title=${encodeURIComponent($('.hgroup h1').text())}`)

  // 트위터 
  $('#sns .tw a').attr('href', `https://twitter.com/intent/tweet?text=${encodeURIComponent($('.hgroup h1').text())}&url=${encodeURIComponent(window.location.href)}`);

  // 네이버
    $('#sns .nv a').attr('href', `https://share.naver.com/web/shareView?url=${encodeURIComponent(window.location.href)}&title=${encodeURIComponent($('.hgroup h1').text())}`)

 // 메일
   $('#sns .snsmail a').attr('href',`mailto:?Mailto&body=${encodeURIComponent($('.hgroup h1').text())}%0D%0A${encodeURIComponent(window.location.href)}`);


  const initHistoryBack = () => {
	  const URL = window.location.href;
	const preUrl = document.referrer;
	console.log(preUrl, 'PRE URL')
	console.log(URL, 'CURRENT URL')
  // 목록으로 가는 로직 

  $('#toList').click((e) => {
    console.log('클릭!')
    console.log($(e.target),'타겟');
		if(preUrl.includes(URL.split('/').slice(0,3).join('/'))) {
      location.href = preUrl
		} else {
			location.href = URL.split('/').slice(0,3).join('/')
		}
  })
	}
  
  $(".more2 a").click(function(){
  console.log('하단클릭!@')
  $(".Rectangle-Copy2").show();
});

$(".snsclose2 a").click(function(){
  $(".Rectangle-Copy2").hide();
});
  
	window.onload = initHistoryBack()
}
</script>