{% set newsId = module.news %}
{% set post_p = module.post_p %}
{% set recent_news_list = blog_recent_posts(newsId,3) %}
{% set popular_news_list = blog_popular_posts(post_p,3)%}
{% set mediaId = module.media %}
{% set recent_media_list = blog_recent_posts(mediaId,6) %}



<section class="mp-newsList">
	<div class="inner">
		<div class="col-l">
			<div class="newsWrap">
				<h5>최신 뉴스 모아보기</h5>
				<ul>
					{% for post in recent_news_list %}
					  <li><a href="{{post.absolute_url}}">{{post.name}}</a></li>
					{% endfor%}
				</ul>
			</div>
			<div class="newsWrap">
				<h5>인기 글 모아보기</h5>
				<ul>
					{% for post in popular_news_list %}
					  <li><a href="{{post.absolute_url}}">{{post.name}}</a></li>
					{% endfor%}
				</ul>
			</div>
		</div>
		<div class="col-r">
			<h5>최신 미디어라이브러리</h5>
			<ul>
				{% for post in recent_media_list %}
					<li class='media-recent-{{loop.index}}'>
						<a href="{{post.absolute_url}}">
							<div class="imgWrap">
								{% if post.widgets.module_1631532455283101.body.choice_field == 'video' %}
                <div class="img-type img-type-mov" style='background: #000 url({{get_asset_url('/hynixNewsRoom/codeFiles/images/icons/ic-mov.svg')}}) center/24px no-repeat; z-index: 1;    width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;'></div>
								{% elif post.widgets.module_1631532455283101.body.choice_field == 'img' %}
									<div class="img-type img-type-pic" style='background: #3f4cb5 url({{get_asset_url('/hynixNewsRoom/codeFiles/images/icons/ic-pic.svg')}}) center/24px no-repeat; z-index: 1;    width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;'></div>
								
								{% elif post.widgets.module_1631532455283101.body.choice_field == 'youtube' %}
									<div class="img-type img-type-youtube" style='background: #fff url({{get_asset_url('/hynixNewsRoom/codeFiles/images/defaultImage/icon-youtube-icon.svg')}}) center/24px no-repeat; z-index: 1;width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;'></div>
								
								{% endif %}
								<img class="lazyload" src="{{post.featured_image ? post.featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/contentImage/thumb_mp_news_01O2x.png")}}" alt="이미지">
							</div>
							{% for topic in post.topic_list%}
							{% if loop.index == 1 %}
							  <span style='display: none;' class='footer-topic'>{{topic}}</span>
							{% endif %}
							{% endfor %}
						</a>
					</li>
			  {% endfor %}	          
			</ul>
		</div>
	</div>
</section>