.gnb-menuWrap ul{
    display: flex;
    justify-content: space-between;
}

.gnb-menuWrap ul>li{
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
}

.gnb-menuWrap ul>li:nth-child(4){
    border-left: 1px solid #b0b1b5;
    box-sizing: border-box;
    position: relative;
}

.gnb-menuWrap ul>li a{
display: block;
    margin-bottom: -14px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #1e1e1e;
    text-decoration: none;
    padding-bottom: 40px;
    border-bottom: 4px solid transparent;
}

.gnb-menuWrap ul>li>ul{
    display: none;
}

.gnb-menuWrap ul>li>ul>li{
    display: none;
}

.gnb-menuWrap .hs-menu-item .hs-menu-depth-1 .hs-item-has-children{
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
}

/* 마우스 오버시 */
.gnb-menuWrap li.active:nth-child(1) a,
.gnb-menuWrap li.active:nth-child(2) a,
.gnb-menuWrap li.active:nth-child(3) a,
.gnb-menuWrap li:hover:nth-child(1) a,
.gnb-menuWrap li:hover:nth-child(2) a, 
.gnb-menuWrap li:hover:nth-child(3) a {
    border-color: #ff6600; 
    font-weight: 600;
    color: #000;
}
.gnb-menuWrap li.active:nth-last-child(1) a,
.gnb-menuWrap li.active:nth-last-child(2) a,
.gnb-menuWrap li:hover:nth-last-child(1) a,
.gnb-menuWrap li:hover:nth-last-child(2) a {
    border-color: rgba(0,0,0,0.85); 
    font-weight: 600;
    color: #000;
}

.lang:hover ul {
    z-index: 9;
}

.lang ul:hover {
    z-index: 99999;
}

/* input 하이라이트 제거 */
input:focus{
    outline: none;
}

.d-search-on{
    display: none;
}

.gnb-hamburger{
    display:none;
}


.gnb-menuWrap-mobile dl .dt-t{
    background: url({{get_asset_url('/hynixNewsRoom/codeFiles/images/icons/icon-outlined-32-px-plus')}}) center no-repeat;
}

/* 처음 서치 메뉴 오픈시  사진 안보임 */
.quickView-card{
   display:none;
}



@media screen and (max-width:1023px) {
    .gnb-hamburger{ 
        display: block;
    }
}

@media screen and (max-width:767px) {
    .gnb-hamburger{
        display: block;
    }
}



/* 9월 23일 반응형에 따른 padding 값 변경 */
@media screen and (max-width:1200px) {
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
      padding-left: 0 !important;
      padding-right: 0 !important;
  }
}

@media screen and (max-width:1023px) {
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
      padding-left: 0 !important;
      padding-right: 0 !important;
  }
}

@media screen and (max-width:767px) {
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
      padding-left: 0 !important;
      padding-right: 0 !important;
  }
}

/* 10월 13일 */
.gnb-m2{
  display: none;
}