.conWrap-body-popularity {
	display: none;
}
.list-tech {
	display: none;
}
.list-sustainability {
	display: none;
}
.list-culture {
	display: none;
}
.list-contentsWrap .list-conWrap-top .inner .inner2 ul li a {
	cursor: pointer;
}
