.error .inner {
    text-align: center;
    background: #f8f8f9 url({{get_asset_url('/hynixNewsRoom/codeFiles/images/contentImage/error_bgO2x.png')}}) center/cover no-repeat;
    padding: 130px 40px;
    box-sizing: border-box;
    margin-top: 106px;
    margin-bottom: 140px;
}
.error-img {
    height: 132px;
}
.error-img.error-img-404 {
	height: 360px;
}
.error-404 {
    background: url({{get_asset_url('/hynixNewsRoom/codeFiles/images/contentImage/404-bg.png')}}) center/contain no-repeat;
}
.error-505 {
    background: url({{get_asset_url('/hynixNewsRoom/codeFiles/images/contentImage/505O2x.png')}}) center/contain no-repeat;
}

/* 9월 23일 수정 사항 error 부분 에만 적용 */
.error h3 {
    margin-top: 77px;
    font-size: 35px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    color: #757575;
}
.error h3.error-title-404 {
	font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.error p {
    margin-top: 40px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #4d4e52;
}
.error p.error-content-404 {
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	color: #4d4e52;
}

.btnWrap {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.btnWrap a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 163px;
    height: 58px;
    box-sizing: border-box;
    padding: 0 10px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #757575;
}
.btnWrap a:last-child {
    margin-right: 0;
}

.btnWrap a.btn-toMain {
    background-color: #2f3034;
    border-color: #2f3034;
    color: #fff;
}


@media screen and (max-width:767px) {
	.error .inner {
		margin: 0;
	}
	.error h3 {
		margin-top: 52px;
		font-size: 24px;
	}
	.error h3.error-title-404 {
		margin-top: 52px;
		font-size: 24px;
	}
	.error-img {
		height: 110px;
	}
	.error p {
		margin-top: 32px;
		font-size: 14px;
	}
	.error p.error-content-404 {
		margin-top: 32px;
		font-size: 14px;
	}
}

@media screen and (max-width:425px) {
	.error-img.error-img-404 {
		height: 170px;
	}
	.error p {
		font-size: 13px;
	}
	.error p.error-content-404 {
		font-size: 13px;
	}
}