@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype')
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype')
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype')
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype')
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype')
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype')
}

:root {
    --t: #4747b3;
    --s: #0072c6;
    --c: #009a93;
    --p: #4d4e52;
    --m: #4d4e52;
    --transform: scale(1.07);
    --transition: all .7s cubic-bezier(.2,1,.22,1);
    --inner-max-width: 1580px;
    --inner2-max-width: 1194px;
    --color-orange: #ff6600; 
    --color-block: rgba(0,0,0,0.85); 
}

input {
   -webkit-appearance: none;
   -webkit-border-radius: 0;
}

body{
  padding-top: 46px;
}

.hs-search-highlight.hs-highlight-title,
.hs-search-highlight.hs-highlight-html {
	color: #FF7A00;
}


.body-container-wrapper {
    overflow-x: hidden;
}

.accordion-total :hover {
    color: #0072c6;
}

html {
    font-family: 'Noto Sans KR','Apple SD Gothic Neo','Apple SD 산돌고딕 Neo','Microsoft NeoGothic','Droid sans','sans-serif';
}

.clear-fix::after {
    content: '';
    display: block;
    clear: both
}

.d-mobile {
    display: none
}

.tagText:hover {
    cursor: pointer
}

.imgWrap {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer
}

.eximgWrap {
   padding-top: 0%!important;
}

.imgWrap img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transition: all .7s cubic-bezier(.2,1,.22,1);
}

section.contents-press .inner2 aside .press-alramWrap,section.contents-press .inner2 aside .aside-thumb {
/*     transform: scale(1.07); */
    transition: all .7s cubic-bezier(.2,1,.22,1);
}
/* 1005  해당 클레스 삭제=> .imgWrap img a:hover*/
.list-main-contents li.conWrap:hover img, ,section.mp-newsList .col-r ul li a:hover img,section.contents-press .inner2 aside .press-alramWrap:hover img,section.contents-press .inner2 aside .aside-thumb:hover img {
    transform: scale(1.07);
    transition: all .7s cubic-bezier(.2,1,.22,1);
}

section.contents-press .inner2 aside .press-alramWrap:hover img {
    transform: none !important
}

a.media_downloadWrap {
    color: inherit;
    text-decoration: none;
    white-space: nowrap
}

a.media_downloadWrap .ml_download {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0,0,0,0.3)
}

a.media_downloadWrap .ml_download i {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/ic-media-down.svg) center no-repeat;
    margin-right: 5px;
    margin-bottom: 2px
}

.tagbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 32px
}

.tagbox a {
    display: block;
    text-align: center;
    padding: 10px 13px;
    border-radius: 30px;
    background-color: #eaeaed;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.21;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    margin-bottom: 6px;
    margin-right: 3px;
    margin-left: 3px
}

.tagbox a:hover {
    background-color: #1e1e1e;
    color: rgba(255,255,255,0.87)
}

.entry-content .tagbox {
    justify-content: flex-start
}
/* 1007 수정 */
.entry-content em {
  font-style : italic;
}

.inner {
    max-width: 1580px;
    margin: 0 auto
}

.inner2 {
    max-width: 1194px;
    margin: 0 auto;
    padding: 0 24px;
    transition: all .7s cubic-bezier(.2,1,.22,1);
}

.breadcrumb {
    display: inline
}

.breadcrumb span {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.57;
    color: #4d4e52;
    position: relative;
    display: inline-block
}

.breadcrumb>span {
    margin-left: 25px
}

.breadcrumb a span {
    text-decoration: underline;
    text-underline-position: under
}

.breadcrumb span::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #4d4e52;
    position: absolute;
    top: 8px;
    left: -16px;
    pointer-events: none
}

.breadcrumb a {
    margin-left: 25px;
    color: #4d4e52
}

.breadcrumb a:first-child {
    margin-left: 0
}

.breadcrumb a:first-child span::before {
    display: none
}

.list-conWrap-top .inner {
    max-width: 1580px;
    margin: 0 auto;
    border-bottom: 1px solid #d0d1d6;
    padding-top: 40px;
    padding-bottom: 25px;
    margin-bottom: 0px
}

.list-conWrap-top .inner2 {
    display: flex;
    justify-content: space-between
}

.list-conWrap-top ul {
    display: flex
}

.list-conWrap-top ul li {
    margin-left: 34px
}

.list-conWrap-top ul li:first-child {
    margin-left: 0
}

.list-conWrap-top ul li a {
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #000;
    text-decoration: none
}

.list-conWrap-top ul li.active a {
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #1e1e1e;
    position: relative
}

.list-conWrap-top ul li.active a::after {
    content: '';
    position: absolute;
    top: 46px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #f60
}

.list-conWrap-top ul li:hover a {
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #1e1e1e;
    position: relative
}

.list-conWrap-top ul li:hover a::after {
    content: '';
    position: absolute;
    top: 46px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #f60
}



.indiWrap {
    display: flex;
    align-items: center;
    justify-content: center
}

.indiWrap a .indi {
    display: block;
    width: 20px;
    height: 20px;
    background: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/icon-outlined-20-px-obal-toggle.svg) center no-repeat;
    margin: 0 2px
}

.indiWrap a.active .indi {
    background: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/icon-outlined-20-px-obal-toggle-full.svg) center no-repeat
}

.press-instruction {
    margin: 30px 0
}

.press-instruction .inner {
    background: red
}

.list-head-titWrap {
    padding-top: 69px;
    padding-bottom: 35px
}

.list-head-titWrap h1 {
    font-size: 46px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: center;
    color: #4d4e52;
    margin-bottom: 27px;
    text-align: right
}

.list-head-titWrap .subTit {
    display: block;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #000
}

.list-head-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.ckWrap input {
    display: none
}

.ckWrap i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/checkbox-large-checked-disabled.svg) center no-repeat;
    margin-right: 12px;
    margin-bottom: 2px
}

.ckWrap input:checked+i {
    background-image: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/checkbox-large-checked-on.svg)
}

.ckWrap label {
    display: inline-flex;
    align-items: center;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #000;
    margin-left: 30px;
    cursor: pointer
}

.tagWrap2 {
    display: flex;
    justify-content: center;
    align-items: center
}

.tagWrap2 a {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    text-align: center
}

.tagWrap2 a:hover {
    color: #3f4cb5;
    text-decoration: underline;
    text-underline-position: under
}

a {
    text-underline-position: under
}

section.list-contentsWrap .conWrap-body .card h2 {
    text-underline-position: under
}

.tagWrap2 a+a {
    margin-left: 9.5px
}

.input-searchWrap {
    position: relative;
    max-width: 620px;
    margin: 0 auto
}

.input-searchWrap input {
    margin-bottom: 18px;
    padding: 0 15px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 14px;
    box-shadow: inset 2px 2px 0 0 rgba(0,0,0,0.05);
    border: solid 1px #dedede;
    background-color: #f9f9f9;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    color: #4d4e52
}

.input-searchWrap input::placeholder {
    color: #b9b9b9
}

.input-searchWrap .input-search {
    position: absolute;
    top: 10px;
    right: 19px;
    display: block;
    width: 32px;
    height: 32px;
    background: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/icon-outlined-32-px-search.svg) center no-repeat
}

.list-main-contents {
    margin-bottom: 100px
}

.list-main-contents li.conWrap {
    display: flex;
    padding: 34px 0 34px 34px;
    box-sizing: border-box;
    border: 2px solid transparent
}

.list-main-contents li.conWrap .col-8{
    padding-right: 10px;
}

.list-main-contents li.conWrap+li.conWrap {
    margin-top: 20px
}

.list-main-contents li.conWrap:nth-child(2n) {
    background-color: #f8f8f9
}

.list-main-contents li.conWrap:hover {
    border: solid 2px #000
}

.list-main-contents a {
    text-decoration: none
}

.list-main-contents h1 {
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box
}

.list-main-contents li:hover h1 {
    color: #4747b3
}

.list-main-contents p {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #8f9094;
    margin-bottom: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box
}

.list-main-contents hr {
    width: 100%;
    height: 2px;
    margin: 0;
    margin-bottom: 15px;
    border: 0;
    background-color: #b0b1b5
}

.list-main-contents .post-meta span {
    font-weight: 600
}

.list-main-contents .post-meta span+span::before {
    font-weight: 300;
    color: #000
}

.list-main-contents .post-meta .author {
    color: #8f9094
}

.list-main-contents .col-4 {
    flex: 1 0 auto;
    width: 276px;
/*     margin-left: 50px */
}

a.card-more {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #8f9094;
    width: 145px;
    height: 49px;
    border: solid 2px #eaeaed;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 50px
}

a.card-more i {
    display: block;
    width: 24px;
    height: 24px;
    background: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/icon-outlined-24-px-plus.svg) center no-repeat;
    margin-left: 12px;
    opacity: .2
}

.card-more:hover {
    cursor: pointer;
    color: #000
}

.lazyload:hover {
    cursor: pointer
}

.radio1,.radio2,.radio3:hover {
    cursor: pointer
}

@media screen and (max-width: 1023px) {
    .press-instruction {
        margin:38px 0 30px
    }

    .list-head-titWrap {
        padding-top: 58px;
        padding-bottom: 28px
    }

    .list-head-titWrap h1 {
        font-size: 35px;
        margin-bottom: 18px
    }

    .list-head-titWrap .subTit {
        font-size: 14px
    }

    .list-main-contents li.conWrap {
        padding-left: 24px
    }
}

@media screen and (max-width: 767px) {
    .press-instruction {
        margin:80px 0 50px;
        position: relative
    }

    .list-head-titWrap {
        padding: 90px 0
    }

    .list-head-titWrap h1 {
        font-size: 34px;
        text-align: center;
        margin-bottom: 16px
    }

    .breadcrumb {
        position: absolute;
        right: 24px;
        top: -50px
    }

    .list-head-bottom {
        justify-content: center
    }

    .list-head-titWrap .subTit {
        font-size: 16px;
        text-align: center
    }

    .list-main-contents li.conWrap {
        width: 100vw;
        margin-left: -24px;
        padding: 30px 24px;
        flex-direction: column
    }

    .list-main-contents h1 {
        -webkit-line-clamp: 2;
        margin-bottom: 15px;
    }

    .list-main-contents .post-meta span {
        font-size: 14px
    }

    .list-main-contents .col-4 {
        width: 100%;
        margin-left: 0
    }

    .list-main-contents li.conWrap+li.conWrap {
        margin-top: 0
    }
}

@media screen and (max-width: 768px) {
    .list-conWrap-top .inner {
        margin-bottom:0!important;
    }
  
    .skh-select{
        margin-left: 0;
    }

    .list-conWrap-top .inner2 {
        flex-direction: column-reverse;
        margin:0;
    }

    .list-conWrap-top .inner2 ul {
        justify-content: space-between
    }

    .list-conWrap-top ul li {
        margin: 0
    }

    .list-conWrap-top .inner2 .ckWrap {
        text-align: right;
        margin-bottom: 46px
    }
}

.skh-paginationWrap {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 40px
}

.skh-pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.skh-pagination>li {
    display: inline;
    float: left;
    margin-right: 8px
}

.skh-pagination>li:last-child {
    margin-right: 0
}

.skh-pagination li[class*="page-"] a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #eaeaed;
    background-color: #fff;
    box-sizing: border-box;
    height: 44px;
    width: 100px
}

.skh-pagination li[class*="page-"] a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #8f9094
}

.skh-pagination li.page-prev-2 a {
    width: 48px;
    background: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/icon-outlined-24-px-left-copy.svg) center no-repeat;
    text-indent: -9999px
}

.skh-pagination li.page-next-2 a {
    width: 48px;
    background: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/icon-outlined-24-px-r-ight-copy.svg) center no-repeat;
    text-indent: -9999px
}

.skh-pagination li a {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
    padding: 8px;
    vertical-align: 0px
}

.skh-pagination li a:hover {
    text-decoration: underline;
    text-underline-position: under
}

.skh-pagination li[class*="page-"] span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px
}

.skh-pagination li.page-prev span {
    margin-right: 20px
}

.skh-pagination li.page-next span {
    margin-left: 20px
}

.skh-pagination li.page-prev i {
    display: block;
    width: 20px;
    height: 20px;
    background: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/icon-outlined-24-px-left.svg);
    position: absolute;
    right: 14px;
    top: 8px
}

.skh-pagination li.page-next i {
    display: block;
    width: 20px;
    height: 20px;
    background: url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/icon-outlined-24-px-r-ight.svg);
    margin-right: 5px;
    position: absolute;
    left: 14px;
    top: 8px
}

.skh-pagination>li a.active {
    color: red
}

nav.btn-pageTop {
    text-align: center;
    margin: 60px 0
}

nav.btn-pageTop a {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0,0,0,0.25);
    text-decoration: none;
  cursor: pointer;
}

nav.btn-pageTop a:hover {
    text-decoration: underline;
    text-underline-position: under
}

nav.btn-pageTop i {
    display: block;
    width: 46px;
    height: 46px;
    background: rgba(0,0,0,0.85) url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/icons/icon-outlined-24-px-up.svg) center no-repeat;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 6px;
    transition: all .7s cubic-bezier(.2,1,.22,1);
}

nav.btn-pageTop a:hover i {
    transform: translateY(-5px)
}

table {
    text-indent: initial;
    border-spacing: 2px
}

.entry-content blockquote>span,.entry-content blockquote:before,.entry-content blockquote:after {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.entry-content blockquote:before,.entry-content blockquote:after {
    content: "";
    width: 32px;
    height: 165px
}

.entry-content blockquote:before {
    background: transparent url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/contentImage/hello_before_blockquote.png) no-repeat 0 50%
}

.entry-content blockquote:after {
    background: transparent url(//f.hubspotusercontent40.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/contentImage/hello_after_blockquote.png) no-repeat 0 50%
}

.entry-content blockquote {
    margin: 0;
    display: table;
    background-color: #fff !important;
    border: none !important;
    font-size: 22px !important;
    color: #000;
    letter-spacing: -1.5px;
    font-weight: 500;
    padding: 0 !important;
    position: relative;
    min-height: 162px;
    width: 100%
}

.entry-content p {
    margin-right: 5px;
    margin-bottom: 22px;
    word-break: break-all;
    font-size: 19px;
    line-height: 1.8;
    color: #0f0f0f;
    letter-spacing: -1px;
    text-align: justify
}

blockquote,blockquote p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    letter-spacing: 0px
}

#tt-body-page blockquote {
    margin: 20px auto 0
}

.entry-content blockquote>span {
    padding: 0 8%
}

.entry-content table {
    width: 100%;
    margin-bottom: 22px;
    border: 1px solid #e6e6e6;
    border-collapse: collapse;
    text-align: center;
    font-size: 1em;
    line-height: 1.5714;
    color: #666;
    vertical}

.entry-content table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    height: 34px
}

.entry-content table tbody td {
    padding: 7px 0 11px;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6
}

html .entry-content table tbody td {
    vertical-align: middle
}

html table[data-ke-style] th,html table[data-ke-style] td,html #tt-body-page table[data-ke-style] th,html #tt-body-page table[data-ke-style] td {
    padding: 8px
}

table[data-ke-style='style12'] tr:nth-child(odd) td {
    background-color: #f0f0f0
}

table[data-ke-style='style12'] tr td:first-child {
    background-color: #dcdddd
}

table[data-ke-style='style12'] tr:first-child td {
    background-color: #9b9b9b;
    border: 1px solid #9b9b9b;
    color: #fff
}

section.list-contentsWrap .conWrap-body .flexWrap-4.addFlewWrap-4 li.flewWrap-li {
    margin-bottom: 40px
}


/* 10월  05일 추가 */
p[data-ke-size="size14"]{font-size:16px;}

.loading-gif{
    width: 180px!important;
    height: 64px!important;
    margin: 0!important;
    padding: 0px!important;
}

.loading-container{
   margin-bottom: 60px;
}

.noSearchContainer{
   margin-bottom: 60px;
}

label{
  cursor: pointer;
}

#viewAuthor{
  cursor: pointer;
}

.skh-pagination{
  width: auto!important
}

/* 20211013 */
@media screen and (max-width: 555px) {
/*   .skh-pagination {
    flex-wrap : nowrap;
  }   */
  .skh-pagination li[class*="page-"] a{
    width: auto;
    font-size: 16px
  }
  .skh-pagination li.page-prev-2 a{
    display: none;
  }
  .skh-pagination li.page-next-2 a{
    display: none;
  }
  .skh-pagination li.page-prev i{
    right: 5px;
  }
  .skh-pagination li.page-next i{
    left: 5px;
  }
  .skh-pagination>li{
    margin-right: 5px;
  }
  
  .cate_module .cate-top{
    margin-bottom: 35px!important;
  }
}
  








@media screen and (max-width: 425px) {
   nav.btn-pageTop {
   
      margin: 40px 0
   }
  
    .mheader-bottomWrap {
    position: relative;
    width: 100%;
    top: 136px;
    padding: 0px;
    /* text-align: center; */
    /* justify-content: center; */
    display: flex;
  }
  
  /* header icon */
  .mheader-sns {
      display: flex;
      float: left;
    margin: 0 auto;
  }
  
  .mheader-sns li+li::before {
      content: '';
      display: none;
      width: 4px;
      height: 4px;
      margin: 0 4px 2px 7px;
      background-color: #d8d8d8;
      border-radius: 50%
  }
  
  .mheader-sns i {
      display: block;
      background-position: center;
      background-size: 100%;
      width: 39px;
      height: 39px;
      margin-bottom: -5px;
      margin-left: 8px;
  }
}

@media screen and (max-width: 425px) {
  .d-mobile {
    display:block
  }
  .list-conWrap-top .inner2 ul {
    flex-wrap : wrap;
  }
  .list-conWrap-top .inner2 ul li {
    margin-right: 3px;
  }
}
input:focus {
  background-color: #f3f3f3;
}




