@import url("https://fonts.googleapis.com/css?family=Lato:400,100,300,700,100italic,300italic,400italic,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
body {
  padding: 0;
  margin: 0;
}
body .btn-bg {
  width: 100%;
  height: 100vh;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .btn-bg.Pixar {
  background: #f75674;
}
body .btn-bg.Pixar .btn-info {
  color: #50514f;
}
body .btn-bg.Pixar .btn-mention {
  color: #50514f;
}
body .btn-bg.Pixar .btn-mention span {
  color: #50514f;
}
body .btn-bg.Pixar .btn-group .Inside button {
  color: #50514f;
  border: none;
  overflow: visible;
  background: transparent;
}
body .btn-bg.Pixar .btn-group .Inside button .box1,
body .btn-bg.Pixar .btn-group .Inside button .box2 {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  opacity: 0;
  transform-origin: 50% 50%;
  transition: all 0.25s ease;
}
body .btn-bg.Pixar .btn-group .Inside button .box1 {
  width: 100%;
  height: 50%;
  top: calc(50% - 25%);
  border-top: 4px solid #50514f;
  border-bottom: 4px solid #50514f;
}
body .btn-bg.Pixar .btn-group .Inside button .box2 {
  width: 50%;
  height: 100%;
  left: calc(50% - 25%);
  border-left: 4px solid #50514f;
  border-right: 4px solid #50514f;
}
body .btn-bg.Pixar .btn-group .Inside button:hover .box1 {
  top: 0;
  opacity: 1;
  height: calc(100% - 8px);
  transition: all 0.25s ease;
}
body .btn-bg.Pixar .btn-group .Inside button:hover .box2 {
  left: 0;
  opacity: 1;
  width: calc(100% - 8px);
  transition: all 0.25s ease;
}
body .btn-bg.Pixar .btn-group .Out button {
  color: #50514f;
  border: none;
  overflow: visible;
  background: transparent;
}
body .btn-bg.Pixar .btn-group .Out button .box1,
body .btn-bg.Pixar .btn-group .Out button .box2 {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  opacity: 0;
  transform-origin: 50% 50%;
  transition: all 0.25s ease;
}
body .btn-bg.Pixar .btn-group .Out button .box1 {
  width: 200%;
  height: 150%;
  left: calc(-50%);
  top: calc(-50% + 25%);
  border-top: 4px solid #50514f;
  border-bottom: 4px solid #50514f;
}
body .btn-bg.Pixar .btn-group .Out button .box2 {
  width: 150%;
  height: 200%;
  top: calc(-50%);
  left: calc(-50% + 25%);
  border-left: 4px solid #50514f;
  border-right: 4px solid #50514f;
}
body .btn-bg.Pixar .btn-group .Out button:hover .box1 {
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: calc(100% - 8px);
  transition: all 0.25s ease;
}
body .btn-bg.Pixar .btn-group .Out button:hover .box2 {
  top: 0;
  left: 0;
  opacity: 1;
  height: 100%;
  width: calc(100% - 8px);
  transition: all 0.25s ease;
}
body .btn-bg.Ocean {
  background: #239ed3;
}
body .btn-bg.Ocean .btn-group .Debris button {
  color: #fff;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  border: 5px solid #fff;
  background: transparent;
  transition: all 2s ease;
}
body .btn-bg.Ocean .btn-group .Debris button span {
  position: absolute;
  content: '';
  top: 1.5em;
  left: 50%;
  width: 20em;
  height: 20em;
  opacity: 0.5;
  background: #fff;
  margin-left: -10em;
  border-radius: 42.5%;
  transform-origin: 50% 50%;
  animation: wave 5s infinite linear;
  transition: all 2s ease, top 1.5s ease;
}
body .btn-bg.Ocean .btn-group .Debris button:hover {
  color: #50514f;
  border-color: #50514f;
  transition: all 2s ease;
}
body .btn-bg.Ocean .btn-group .Debris button:hover span {
  opacity: 1;
  top: 0.5em;
  background-color: #50514f;
  transition: all 2s ease, top 1.5s ease;
}
body .btn-bg.Ocean .btn-group .Coral button {
  color: #fff;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  border: 5px solid #fff;
  background: transparent;
  transition: all 1s ease;
}
body .btn-bg.Ocean .btn-group .Coral button span {
  position: absolute;
  content: '';
  top: 1.75em;
  left: 50%;
  width: 20em;
  height: 20em;
  margin-left: -10em;
  border-radius: 42.5%;
  transform-origin: 50% 50%;
  transition: all 1s ease, top 1.5s ease;
}
body .btn-bg.Ocean .btn-group .Coral button .Coralwave1 {
  background: #ffb733;
  animation: smallwave 3s infinite linear;
}
body .btn-bg.Ocean .btn-group .Coral button .Coralwave2 {
  background: #f97890;
  animation: smallwave 4s infinite linear;
}
body .btn-bg.Ocean .btn-group .Coral button .Coralwave3 {
  background: #4ab3e1;
  animation: smallwave 5s infinite linear;
}
body .btn-bg.Ocean .btn-group .Coral button:hover {
  transition: all 1s ease;
}
body .btn-bg.Ocean .btn-group .Coral button:hover span {
  top: 0.5em;
  transition: all 1s ease, top 1.5s ease;
}
body .btn-bg.Minecraft {
  background: #795548;
}
body .btn-bg.Minecraft .btn-info {
  color: #a0f78b;
}
body .btn-bg.Minecraft .btn-mention span {
  color: #a0f78b;
}
body .btn-bg.Minecraft .btn-group .character button {
  overflow: hidden;
  position: relative;
  color: #a0f78b;
  border-radius: 5px;
  border: 5px solid #a0f78b;
  padding: calc(1rem + 5px) calc(3rem + 2.5px);
  background: linear-gradient(45deg, #8ff677 7.5px, transparent 5px) 0px 10px, linear-gradient(225deg, #8ff677 7.5px, transparent 5px) 10px 0px, linear-gradient(45deg, #34db0f 7.5px, transparent 5px) 0px 20px, linear-gradient(225deg, #34db0f 7.5px, transparent 5px) 10px 10px, linear-gradient(45deg, #27a709 7.5px, transparent 5px) 0px 30px, linear-gradient(225deg, #27a709 7.5px, transparent 5px) 10px 20px, linear-gradient(90deg, #25c800 10px, transparent 10px), linear-gradient(#27a709 25%, #25c800 25%, #25c800 50%, transparent 50%, transparent 75%, #34db0f 75%, #34db0f);
  background-color: transparent;
  background-size: 0px 0px;
  transition: all 0.35s ease;
}
body .btn-bg.Minecraft .btn-group .character button .creeper {
  position: absolute;
  content: '';
  top: calc(50% - 30.5px);
  left: calc(50% - 29px);
  width: 60px;
  height: 60px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  transform: scale(0.1);
  transition: all 0.25s ease;
}
body .btn-bg.Minecraft .btn-group .character button .creeper .eye {
  height: 20px;
  position: relative;
}
body .btn-bg.Minecraft .btn-group .character button .creeper .eye:before,
body .btn-bg.Minecraft .btn-group .character button .creeper .eye:after {
  width: 20px;
  height: 20px;
  background: #50514f;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
}
body .btn-bg.Minecraft .btn-group .character button .creeper .eye:after {
  left: inherit;
  right: 0;
}
body .btn-bg.Minecraft .btn-group .character button .creeper .mouth {
  height: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
body .btn-bg.Minecraft .btn-group .character button .creeper .mouth .center {
  background: #50514f;
  width: 20px;
  height: 30px;
}
body .btn-bg.Minecraft .btn-group .character button .creeper .mouth:before,
body .btn-bg.Minecraft .btn-group .character button .creeper .mouth:after {
  width: 10px;
  height: 30px;
  background: #50514f;
  position: absolute;
  content: '';
  top: 10px;
  left: 10px;
}
body .btn-bg.Minecraft .btn-group .character button .creeper .mouth:after {
  left: inherit;
  right: 10px;
}
body .btn-bg.Minecraft .btn-group .character button:hover {
  color: transparent;
  border-color: transparent;
  background-color: #8ff677;
  background-size: 20px 40px;
  transition: all 0.35s ease;
}
body .btn-bg.Minecraft .btn-group .character button:hover .creeper {
  opacity: 1;
  transform: scale(0.5);
  transition: all 0.25s ease;
}
body .btn-bg.link {
  background: #f99734;
}
body .btn-bg.link .btn-group .blog button {
  color: #fff;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  border: 5px solid #fff;
  padding: calc(1rem + 10px) calc(3rem + 6.5px);
  background: linear-gradient(45deg, #fff 7.5px, transparent 5px) 0px 10px, linear-gradient(225deg, #fff 7.5px, transparent 5px) 10px 0px, linear-gradient(45deg, #eef 7.5px, transparent 5px) 0px 20px, linear-gradient(225deg, #eef 7.5px, transparent 5px) 10px 10px, linear-gradient(45deg, #dcdde5 7.5px, transparent 5px) 0px 30px, linear-gradient(225deg, #dcdde5 7.5px, transparent 5px) 10px 20px, linear-gradient(90deg, #c9cacc 10px, transparent 10px), linear-gradient(#dcdde5 25%, #c9cacc 25%, #c9cacc 50%, transparent 50%, transparent 75%, #eef 75%, #eef);
  background-color: transparent;
  background-size: 0px 0px;
  transition: all 0.35s ease;
}
body .btn-bg.link .btn-group .blog button .like {
  position: absolute;
  content: '';
  top: calc(50% - 35px);
  left: calc(50% - 29.5px);
  width: 60px;
  height: 80px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  transform: scale(0.1);
  transition: all 0.25s ease;
}
body .btn-bg.link .btn-group .blog button .like .hand {
  height: 30px;
  position: relative;
}
body .btn-bg.link .btn-group .blog button .like .hand:before,
body .btn-bg.link .btn-group .blog button .like .hand:after {
  width: 20px;
  height: 30px;
  background: #50514f;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
}
body .btn-bg.link .btn-group .blog button .like .hand:after {
  left: inherit;
  right: 0;
}
body .btn-bg.link .btn-group .blog button .like .Finger {
  height: 40px;
  position: relative;
}
body .btn-bg.link .btn-group .blog button .like .Finger:before {
  width: 60px;
  height: 20px;
  background: #50514f;
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
}
body .btn-bg.link .btn-group .blog button:hover {
  color: transparent;
  border-color: transparent;
  background-color: #fff;
  background-size: 20px 40px;
  transition: all 0.35s ease;
}
body .btn-bg.link .btn-group .blog button:hover .like {
  transform: scale(0.5);
  opacity: 1;
  transition: all 0.25s ease;
}
body .btn-bg.link .btn-group .codepen button {
  color: #50514f;
  border-radius: 5px;
  border: 5px solid #50514f;
  overflow: hidden;
  position: relative;
  padding: calc(1rem + 10px) calc(3rem + 6.5px);
  background: linear-gradient(45deg, #787878 7.5px, transparent 5px) 0px 10px, linear-gradient(225deg, #787878 7.5px, transparent 5px) 10px 0px, linear-gradient(45deg, #565656 7.5px, transparent 5px) 0px 20px, linear-gradient(225deg, #565656 7.5px, transparent 5px) 10px 10px, linear-gradient(45deg, #121212 7.5px, transparent 5px) 0px 30px, linear-gradient(225deg, #121212 7.5px, transparent 5px) 10px 20px, linear-gradient(90deg, #343434 10px, transparent 10px), linear-gradient(#121212 25%, #343434 25%, #343434 50%, transparent 50%, transparent 75%, #565656 75%, #565656);
  background-color: transparent;
  background-size: 0px 0px;
  transition: all 0.35s ease;
}
body .btn-bg.link .btn-group .codepen button .skeleton {
  position: absolute;
  content: '';
  top: calc(50% - 30px);
  left: calc(50% - 34px);
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  transform: scale(0.1);
  opacity: 0;
  transition: all 0.25s ease;
}
body .btn-bg.link .btn-group .codepen button .skeleton .face {
  height: 20px;
  width: 70px;
  position: relative;
  z-index: 1;
}
body .btn-bg.link .btn-group .codepen button .skeleton .face:before,
body .btn-bg.link .btn-group .codepen button .skeleton .face:after {
  width: 50px;
  height: 60px;
  position: absolute;
  content: '';
  background: #fff;
  top: 0px;
  left: 10px;
  z-index: 1;
}
body .btn-bg.link .btn-group .codepen button .skeleton .face:after {
  width: 70px;
  height: 30px;
  top: 10px;
  left: 0;
  right: 0;
}
body .btn-bg.link .btn-group .codepen button .skeleton .eye {
  height: 20px;
  width: 70px;
  position: relative;
}
body .btn-bg.link .btn-group .codepen button .skeleton .eye:before,
body .btn-bg.link .btn-group .codepen button .skeleton .eye:after {
  width: 20px;
  height: 10px;
  position: absolute;
  content: '';
  background: #50514f;
  left: 10px;
  z-index: 999;
}
body .btn-bg.link .btn-group .codepen button .skeleton .eye:after {
  left: inherit;
  right: 10px;
}
body .btn-bg.link .btn-group .codepen button .skeleton .mouth {
  width: 70px;
  height: 20px;
  position: relative;
}
body .btn-bg.link .btn-group .codepen button .skeleton .mouth:before,
body .btn-bg.link .btn-group .codepen button .skeleton .mouth:after {
  position: absolute;
  content: '';
  background: #50514f;
  width: 10px;
  height: 10px;
  bottom: 0;
  left: 20px;
  z-index: 999;
}
body .btn-bg.link .btn-group .codepen button .skeleton .mouth:after {
  left: inherit;
  right: 20px;
}
body .btn-bg.link .btn-group .codepen button:hover {
  color: transparent;
  border-color: transparent;
  background-color: #50514f;
  background-size: 20px 40px;
  transition: all 0.35s ease;
}
body .btn-bg.link .btn-group .codepen button:hover .skeleton {
  transform: scale(1);
  opacity: 1;
  transition: all 0.25s ease;
}
body .btn-bg.Pokemon {
  background: #ffd740;
}
body .btn-bg.Pokemon .btn-group .ball button {
  border: 5px solid #50514f;
  border-radius: 5px;
  background: transparent;
  overflow: hidden;
  position: relative;
}
body .btn-bg.Pokemon .btn-group .ball button:hover {
  border-color: #ffd740;
}
body .btn-bg.Pokemon .btn-group .ball button:hover .pokemon-ball::before {
  transform: translate3d(0, -100%, 0);
  transition: transform 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
body .btn-bg.Pokemon .btn-group .ball button:hover .pokemon-ball::after {
  transform: translate3d(0, 100%, 0);
  transition: transform 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
body .btn-bg.Pokemon .btn-group .ball button:hover a {
  transition: none;
  color: transparent;
  z-index: 999;
}
body .btn-bg.Pokemon .btn-group .ball button:hover a::before {
  transform: translate3d(100%, 0, 0);
}
body .btn-bg.Pokemon .btn-group .ball button:hover a span:first-child::before,
body .btn-bg.Pokemon .btn-group .ball button:hover a span:nth-child(2)::before {
  transition-delay: 0.3s;
  transform: translate3d(0, 0, 0);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
body .btn-bg.Pokemon .btn-group .ball button .pokemon-ball {
  position: absolute;
  content: 'Go!';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
body .btn-bg.Pokemon .btn-group .ball button .pokemon-ball::before,
body .btn-bg.Pokemon .btn-group .ball button .pokemon-ball::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #ef594f;
  transform: translate3d(0, 0, 0);
  transition: transform 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
body .btn-bg.Pokemon .btn-group .ball button .pokemon-ball::after {
  top: 50%;
  background: #fff;
}
body .btn-bg.Pokemon .btn-group .ball button a {
  color: #50514f;
  font-weight: 600;
  font-size: 1.5em;
  transition: color 0.5s 0.25s;
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index: 999;
}
body .btn-bg.Pokemon .btn-group .ball button a::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 5px;
  background: #50514f;
  top: calc(50% - 2.5px);
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transform: translate3d(-100%, 0, 0);
}
body .btn-bg.Pokemon .btn-group .ball button a span {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  overflow: hidden;
}
body .btn-bg.Pokemon .btn-group .ball button a span::before {
  position: absolute;
  content: attr(data-letters);
  left: 0;
  width: 100%;
  color: #fff;
  transition: transform 0.5s;
}
body .btn-bg.Pokemon .btn-group .ball button a span:first-child::before {
  top: 0;
  color: #ef594f;
  transform: translate3d(0, 100%, 0);
}
body .btn-bg.Pokemon .btn-group .ball button a span:nth-child(2) {
  top: 50%;
}
body .btn-bg.Pokemon .btn-group .ball button a span:nth-child(2)::before {
  bottom: 0;
  transform: translate3d(0, -100%, 0);
}
.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
@media screen and (max-width: 480px) {
  .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.btn {
  margin: 0 30px 30px 30px;
  display: block;
}
.btn-info {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Lato';
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 3.5em;
  color: #fff;
}
.btn-mention {
  margin-bottom: 70px;
  text-align: center;
  font-family: 'Lato';
  letter-spacing: 0.1em;
  font-size: 1.1em;
  color: #fff;
}
.btn-mention span {
  font-size: 1.2em;
  font-weight: 600;
}
button {
  cursor: pointer;
  overflow: visible;
  outline: none;
  color: #fff;
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 1rem 3rem 1rem 3rem;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 1.5em;
}
button a {
  text-decoration: none;
}
@-moz-keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-o-keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-moz-keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}
@-o-keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}
