{% set path = request.path|split('/', 2)|last %}
{% set query = request.query_dict.text %}

{% set blogId = module.blog_field %}
{% set recent_posts = blog_recent_posts(blogId, 4) %}
{% set className = query == '기술' ? 'cate_module cate-s' : (query == '지속가능경영' ? 'cate_module cate-t' : 'cate_module cate-c')%}



<section class="{{className}}">
	<div class="inner2">
		<div class="cate-top">
			<a href="/post/page/1?type=reco&text=기획기사">
				추천 콘텐츠
				<i></i>
			</a>
		</div>
		
		<div class="cate-bottom">
			<ul>
				<li>
						{% for post in recent_posts %}
						{% if loop.index < 5 %}
						<a href="{{post.absolute_url}}">
							<div class="conItem">
								<div class="imgWrap">
									<img src="{{post.featured_image ? post.featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/defaultImage/cnoimg.png")}}" alt="blog image">
								</div>
								<div class="tagWrap">
									{% for topic in post.topic_list %}
									{% if topic == 'blog-기술' %}
										<div class="hs-search-hidden cate-tag-t cate-tag">기술</div>
									{% endif %}
									{% endfor %}
									
									{% for topic in post.topic_list %}
									{% if topic == 'blog-사람-문화' %}
									  <div class="hs-search-hidden cate-tag-c cate-tag">사람&문화</div>
									{% endif %}
									{% endfor %}
									
									{% for topic in post.topic_list %}
									{% if topic == 'blog-지속가능경영'%}
									  <div class="hs-search-hidden cate-tag-s cate-tag">지속가능경영</div>
									{% endif %}			
									{% endfor %}
								</div>
								<p class='hs-search-hidden' style='font-weight:bold'>{{post.name}}</p>
							</div>
						</a>
						{% endif %}
						{% endfor %}
					
					
				</li>
			</ul>
		</div>
		
		
	</div>
</section>