/* etc 페이지 공통 */
section[class*="etc"] .topVisual {
    font-size: 34px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
/*     background-image: linear-gradient(to left, rgba(84, 84, 84, 0.15), rgba(225, 225, 225, 0.29) 52%, rgba(255, 255, 255, 0.4)); */
  	background-image : url({{get_asset_url('/hynixNewsRoom/codeFiles/images/defaultImage/etcBackgroundO2x.jpg')}});
  	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
section[class*="etc"] h5 {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.2px;
    color: #68696e;
}
section[class*="etc"] p {
    font-size: 12px;
    letter-spacing: -0.13px;
    line-height: 1.5;
    color: #68696e;
}
section[class*="etc"] hr {
    border: 0;
    height: 1px;
    background: #d0d1d6;
}
section[class*="etc"] .tableWrap {
    width: 100%;
    overflow: auto;
    margin-bottom: 40px;
}
section[class*="etc"] table {
    table-layout: fixed;
}
section[class*="etc"] table th,
section[class*="etc"] table td {
    border: solid 1px #979797;
    height: 48px;
    vertical-align: middle;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: -0.18px;
    color: #68696e;
    padding: 0 70px;
    box-sizing: border-box;
}
section[class*="etc"] table th {
    font-weight: 600;
}


/* 뉴스룸 운영정책 */
.etc_contentsGuide,
.etc_newsroom {
    padding-bottom: 50px;
}
.etc_newsroom h4 {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.2px;
    color: #000;
    margin-top: 148px;
}
.etc_newsroom hr {
    margin: 50px 0 80px;
}
.etc_newsroom h5 {
    margin-bottom: 30px;
}
.etc_newsroom p {
    margin-bottom: 50px;
}

/* 콘텐츠 이용안내 */
.etc_contentsGuide h4 {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.2px;
    color: #000;
    margin-top: 92px;
}
.etc_contentsGuide hr {
    margin-top: 80px;
    margin-bottom: 80px;
}

.etc_contentsGuide h5.fontWeightLight {
    font-weight: 400;
    margin-bottom: 40px;
}
.etc_contentsGuide .etc-guide-img {
    width: 100%;
    background: #f8f8f9;
    margin-bottom: 60px;
}


/* 개인정보 처리방침 */
.etc_privacy .topVisual {
    margin-bottom: 70px;
}
.etc_privacy hr {
    margin: 50px 0 80px;
}
.etc_privacy h5 {
    margin-bottom: 30px;
}
.etc_privacy p {
    margin-bottom: 70px;
}

.etc_privacy .historyLink {
    padding: 25px 70px;
    background-color: #f8f8f9;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.etc_privacy .historyLink span {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.2px;
    color: #f60;
}
.etc_privacy .historyLink a {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    color: #000;
    text-decoration: none;
}



@media screen and (max-width:1200px){
  
  section[class*="etc"] .topVisual { height:300px;}
  
}



@media screen and (max-width:1023px){
  
  section[class*="etc"] .topVisual { height:188px;}
  
}



@media screen and (max-width:767px){
  
  section[class*="etc"] .topVisual { height:250px;}
  
}