{% set press_id = module.press_field  %}
{% set press_popular_posts = blog_recent_posts(press_id, 3) %}
<section class="container contents contents-press">
  <div class="inner2">
    <aside>
      <div class="aside-thumbWrap">
        <h3>추천 콘텐츠</h3>
        <ul>
          {% for post in press_popular_posts %}
          <li class="aside-thumb">
            <a href="{{post.absolute_url}}">
              <div class="imgWrap">
                <img class="lazyload" src="{{post.featured_image ? post.featured_image : get_asset_url("/hynixNewsRoom/codeFiles/images/defaultImage/tnoimg.png")}}" alt="추천기사 이미지">
              </div>
              <div class='sideTitle'>
                {{post.title}}
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="press-alramWrap">
        {% form
							form_to_use="{{ module.form_field.form_id }}"
							response_response_type="{{ module.form_field.response_type }}"
							response_message="{{ module.form_field.message }}"
							response_redirect_id="{{ module.form_field.redirect_id }}"
							response_redirect_url="{{module.form_field.redirect_url}}"
							gotowebinar_webinar_key="{{ module.form_field.gotowebinar_webinar_key }}"
						%}
      </div>

      <div class="linkEtcWrap">
        <div class="linkWrap">
          <ul>
            <li><a href="/post/tag/blog-기술/page/1?type=blog&text=기술" class="link-t">기술</a></li>
            <li><a href="/post/tag/blog-사람-문화/page/1?type=blog&text=사람&문화" class="link-h">사람&문화</a></li>
            <li><a href="/post/tag/blog-지속가능경영/page/1?type=blog&text=지속가능경영" class="link-b">지속가능경영</a></li>
          </ul>
        </div>
<!--         <div class="etcWrap">
          <ul>
            <li><a href="/guideline">콘텐츠 이용안내</a></li>
            <li><a href="/policy">뉴스룸 운영정책</a></li>
          </ul>
        </div> -->
      </div>
    </aside>
	</div>
</section>