// reset mixin
@mixin reset {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@mixin block {
    display: block;
}

@mixin after-before {
    content: '';
    content: none;
}

@mixin a {
    color: inherit;
    text-decoration: none;
}

@mixin focus {
    outline: none;
}

@mixin flex {
    display: flex;
    justify-content: space-around;
}

@mixin list {
    list-style: none;
}
