
.input-search{
  cursor: pointer;
}

.datepickerStartDate label {
	display: flex;
}
.datepickerEndDate label {
	display: flex;
}



@media screen and (max-width: 768px){
  .mobile-sch{
    display: none;
  }
  
  .Recangle{
    display: block!important;
    max-width: 705px;
    height: auto;
    padding: 27px 14.5px 29px 23.5px;
    border-radius: 10px;
    background-color: #f3f3f3;
    margin: 0px 24px;
    box-sizing: border-box;
    margin-bottom: 60px;
  }
  
  .Recangle .rec-ch{
    width: 92px;
    height: 22px;
    margin: 0 238px 13px 0;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
  }
  
  .Recangle ul{
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .Rectangle-Copy-92 {
    flex: 1;
    height: 40px;
    margin: 8px auto;
    margin-right: 10px;
    box-sizing: border-box;
    margin-bottom: 4px;
  }
  
  .Rectangle-Copy-93 {
    flex: 1;
    height: 100%;
    margin: 8px auto;
    box-sizing: border-box;
    margin-bottom: 4px;
  }
  
}


@media screen and (max-width: 425px){
  .Recangle{
    max-width: 378px;
    height: auto;
    padding: 27px 24.5px 32px 23.5px;
    border-radius: 10px;
    background-color: #f3f3f3;
    margin: 0px 24px;
    box-sizing: border-box;
    margin-bottom: 60px;
  }
  
  .Recangle .rec-ch{
    width: 92px;
    height: 22px;
    margin: 0 238px 13px 0;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    white-space: nowrap;
  }
  
  .Recangle ul{
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .Rectangle-Copy-92 {
    max-width: 330px;
    height: 40px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 10px;
  }
  
  .Rectangle-Copy-93 {
    max-width: 330px;
    height: 100%;
    margin: 8px auto;
    box-sizing: border-box;
    margin-bottom: 1px;
  }
  
  .Rectangle-Copy-93 .skh-select{
    border: solid 0.9px #dfdfdf;
    background-color: #fbfbfb;
  }
  
  
  
  .Rectangle-Copy-93>.m-datepickerBox{
    padding: 0;
  }
  
  .Rectangle-Copy-93 .calWrap{
    justify-content: flex-end;
    margin-top: 17px;
    width: 90%;
    padding-left: 10%;
  }
}