{% set blog_tags = blog_tags(module.blog_field) %}
{% set query = request.query_dict.searchText %}

<section class="blog-menu media-category">
	<div class="list-conWrap-top">
		<div class="inner">
      <div class="Recangle" style="display:none;">
      <a class="rec-ch">카테고리 선택</a>
        <ul>
          <li class="Rectangle-Copy-92">
            <select class="skh-select" name="selectbox" id="category-select">
		    				<option value="all">전체 카테고리</option>
		    				<option value="카테고리-제품">제품</option>
                <option value="카테고리-사람-문화">사람&amp;문화</option>
                <option value="카테고리-FAB">FAB</option>
		    				<option value="카테고리-지속가능경영">지속가능경영</option>
		    				<option value="카테고리-캠퍼스">캠퍼스</option>
		    				<option value="카테고리-대표이사">대표이사</option>
                <option value="카테고리-CI">CI</option>
		    		</select>
          </li>
        </ul>
      </div>
			<div class="inner2">
				<div class="categoryWrap">
					<div class="selectWrap">
						<select name="" id="category-select-box" class="d-mobile">
							<option value="all" class='m-m-option m-m-option0'>전체 카테고리</option>
							{% for item in blog_tags %}
							  <option class='m-m-option m-m-option{{loop.index}}' value="{{item}}">{{item}}</option>
						  {% endfor %}
						</select>
					</div>					
					
					<ol class="category d-pc" style="display:none">
						{{ module.tag_field }}

						<li class="categoryItem active categoryItem0"><a href="/library">전체</a></li>
            {% for item in blog_tags %}
						    <li class="categoryItem categoryItem{{loop.index}}"><a>{{item}}</a></li>
						{% endfor %}
					</ol>
				</div>
				<div class="ckWrap">
<!-- 					<span>검색결과 : </span> -->
<!-- 					<label for="ck-recent"><input name="checkbox" value='img' id="ck-recent" type="checkbox" checked=""><i></i>사진</label>
					<label for="ck-popularity"><input name="checkbox" value='video' id="ck-popularity" type="checkbox"><i></i>동영상</label> -->
				</div>
			</div>
		</div>

		<!-- 컨텐츠 선택된 경우 orderWrap 에 active -->
		<div class="inner2 orderWrap active">
			<div class="conWrap">
				<span class="orderItem text" style='display: none'>
					<em class="color-blue">0개 항목</em> 선택되었습니다.
				</span>
				<a class="orderItem color-blue order-download" style='display: none'>선택항목 다운로드 <i></i></a>
				<a class="orderItem ck-all">전체 선택</a>
				<a class="orderItem ck-remove" style='display: none'>일괄 취소</a>
			</div>
		</div>
	</div>
</section>


<script type='text/babel'>
const currentLocation = location.pathname
const currentSearch = location.search
const categoryValue = currentLocation.split('/').filter(Boolean)[2]

const searchParamHandler = (key) => {
	return new URLSearchParams(location.search).get(key);
};

const searchText = searchParamHandler('searchText')
const searchType = searchParamHandler('searchType')
const searchCategory = searchParamHandler('category')

$('.Recangle .Rectangle-Copy-92 .skh-select').change(e => {
	const value = e.target.value
  console.log(value, 'VALUE')
	if(searchText) {
		if(value === 'all') {
			location.href = `/library?searchType=${searchType}&searchText=${searchText}&category=`
		} else {
			location.href = `/library?searchType=${searchType}&searchText=${searchText}&category=${value}`
		}
		 
	} else {
		if(value === 'all') {
		  location.href = `/library`	
		} else {
			location.href = `/library/tag/${value}/page/1?category=${value}`
		}
		
	}
})



$('.category d-pc').css('display','block');

$('#category-select-box').change((e) => {
	const text = e.target.value

	location.href = `/library/tag/${text}/page/1`
})

const tagLength = $('.category.d-pc').children('li.categoryItem').length;
if(currentLocation === '/library') {
	$(`.categoryItem0`).addClass('active')
}

for(let i = 1; i <= tagLength; i++) {
	const text = $(`.categoryItem${i}`).text()
	if(!text.includes('카테고리-')) {
		$(`.categoryItem${i}`).remove()
	}
	if(text.includes('카테고리-')) {
		const category1 = text.split('-')
		let category = '';
		if(category1.length > 2) {
			const arr = category1.slice(1, category1.length)
		  category = arr.join('&')
		} else {
			category = category1[1]
		}
	
		if(searchText) {
			$(`.categoryItem${i}`).html(`<a href="/library?searchType${searchType}=&searchText=${searchText}&category=${text}">${category}</a>`)
		} else {
			$(`.categoryItem${i}`).html(`<a href="/library/tag/${text}/page/1">${category}</a>`)
		}
		
		
		if(decodeURIComponent(currentLocation).includes(text)) {
			$(`.categoryItem`).removeClass('active')
			$(`.categoryItem${i}`).addClass('active')
		}

		if(decodeURIComponent(currentSearch).includes(text)) {

			$(`.categoryItem`).removeClass('active')
			$(`.categoryItem${i}`).addClass('active')
		}
	}
}

$('.category.d-pc').css('display', 'flex')


const optionLength = $('.d-mobile').children('option.m-m-option').length;

for(let i = 1; i <= optionLength; i++) {
	const text = $(`.m-m-option${i}`).val()
let category = '';
	if(text && !text.includes('카테고리-')) {
		$(`.m-m-option${i}`).remove()
	}
	if(text && text.includes('카테고리-')) {
		const category1 = text.split('-')
		if(category1.length > 2) {
			const arr = category1.slice(1, category1.length)
		  $(`.m-m-option${i}`).text(arr.join('&'))
		} else {
			$(`.m-m-option${i}`).text(category1[1])
		}
	}
}

$(`.Recangle .Rectangle-Copy-92 .skh-select > option[value=${decodeURIComponent(searchCategory) ? decodeURIComponent(searchCategory) : 'all'}]`).val(`${decodeURIComponent(searchCategory) ? decodeURIComponent(searchCategory) : 'all'}`).prop('selected', "true")

</script>