.loading-container {
	width: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.loading-gif {
	width: 88px;
  height: 76px;
}
.searching {
	width: 98px;
  height: 27px;
	font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #000;
	text-align: center;
}