{% set press_id = module.press_blog_field  %}
{% set press_recent_posts = blog_recent_posts(press_id, 5) %}
{% set my_tags = blog_tags('default', 3) %}
{% set path = request.path|split('/', 2)|last %}


{% if path == 'presscenter' %}
<section class="search-full">
  <div class="inner">
    <div id='pressSearch' class="inner2">
      <div class="input-searchWrap">
        <input type="text" placeholder="빠른 기사 검색">
        <a class="input-search"></a>
      </div>
      <div class="tagWrap2">         
      {#  {% for item in my_tags %}
        <a href="{{ blog_tag_url(group.id, item.slug) }}">#{{ item }}</a>
        {% endfor %}  #}
				<a href="/presscenter?searchType=all&searchText=D램&dateType=all&startDate=&endDate=&category=보도자료">#D램</a>
				<a href="/presscenter?searchType=all&searchText=낸드&dateType=all&startDate=&endDate=&category=보도자료">#낸드</a>
				<a href="/presscenter?searchType=all&searchText=SV&dateType=all&startDate=&endDate=&category=보도자료">#SV</a>
				<a href="/presscenter?searchType=all&searchText=경영실적&dateType=all&startDate=&endDate=&category=보도자료">#경영실적</a>
<!-- 				<a href="presscenter/tag/NAND?text=NAND&type=tag">#NAND</a> -->
      </div>
<!--       datepicker -->
      <div class="flexWrap-cal">
        <div class="calWrap" style='display: none'>
          <div class="datepickerWrap datepickerStartDate">
            <label for="date-from">
              <input class="datepicker" id="date-from" value>
              <span class="cal-icon">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                  <g fill="#1E1E1E" fill-rule="evenodd">
                    <path d="M3.299 19.185H19.59V11.94H3.299v7.245zM3.3 10.14h16.291V6.915H3.3v3.225zm13.063-5.025V3h-1.798v2.115h-6.24V3H6.527v2.115H1.5v15.87h19.89V5.115h-5.027z"/>
                    <path d="M6 15h1.5v1.5H6zM9 15h1.5v1.5H9zM12 15h1.5v1.5H12zM15 15h1.5v1.5H15z"/>
                  </g>
                </svg>
              </span>
            </label>
          </div>
          <span class="cal-span">~</span>
          <div class="datepickerWrap datepickerEndDate">
            <label for="date-to">
              <input class="datepicker" id="date-to" value>
              <span class="cal-icon">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                  <g fill="#1E1E1E" fill-rule="evenodd">
                    <path d="M3.299 19.185H19.59V11.94H3.299v7.245zM3.3 10.14h16.291V6.915H3.3v3.225zm13.063-5.025V3h-1.798v2.115h-6.24V3H6.527v2.115H1.5v15.87h19.89V5.115h-5.027z"/>
                    <path d="M6 15h1.5v1.5H6zM9 15h1.5v1.5H9zM12 15h1.5v1.5H12zM15 15h1.5v1.5H15z"/>
                  </g>
                </svg>
              </span>
            </label>
          </div>
        </div>

        <select class="skh-select" name="selectbox" id="selectbox" style='display:none'>
          <option class="selectopt accuracyOpt" value="all">날짜 선택</option>
          <option class="selectopt weekOpt" value="week">1주일전</option>
          <option class="selectopt monthOpt" value="month">1개월전</option>
          <option class="selectopt yearOpt" value="year">1년전</option>
          <option class="selectopt selectOpt" value="select">날짜 직접 선택</option>
        </select>
      </div>
    </div>
    <hr>
  </div>
</section>
{% endif %}

<script type='text/babel'>
 let placeNum = moment(new Date).format('YYYY-MM-DD');
 $('#date-from').attr('placeholder',placeNum);
</script>

